Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment:
  layout: condensed_header
  behavior: default # post new comment, edit if it already exists
  require_changes: coverage_drop AND uncovered_patch
  hide_project_coverage: false # show coverage only for the diff

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - translate/
    carryforward: true

  non-frontend-js:
    paths:
      - pontoon/static/js/
    carryforward: true

Changing the dependency array
  translate/src/context/MentionUsers.tsx
Due: frontend

Apply sugesstions to MenionUsers
  translate/src/context/MentionUsers.tsx
Due: frontend

Sort @-mention results by locale and project activity (#3997)
  pontoon/base/tests/views/test_get_users.py
  pontoon/base/views.py
  translate/src/api/user.ts
  translate/src/context/MentionUsers.test.jsx
  translate/src/context/MentionUsers.tsx
  translate/src/modules/comments/components/AddComment.tsx
Due: frontend

Add advanced search options to user profile
  pontoon/base/migrations/0107_add_search_settings_to_userprofile.py
  pontoon/base/models/user_profile.py
  pontoon/base/views.py
  pontoon/contributors/static/css/settings.css
  pontoon/contributors/templates/contributors/settings.html
  pontoon/contributors/views.py
  pontoon/search/views.py
  translate/src/api/entity.ts
  translate/src/api/user.ts
  translate/src/context/Location.tsx
  translate/src/modules/entitieslist/components/EntitiesList.tsx
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchBox.tsx
  translate/src/modules/search/constants.ts
  translate/src/modules/user/reducer.ts
Due: frontend

Restore "Apply search options" button
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchBox.tsx
  translate/src/modules/search/components/SearchPanel.css
  translate/src/modules/search/components/SearchPanel.test.jsx
  translate/src/modules/search/components/SearchPanel.tsx
Due: frontend

Update menu design and functions
  pontoon/contributors/templates/contributors/settings.html
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchBox.tsx
  translate/src/modules/search/components/SearchPanel.css
  translate/src/modules/search/components/SearchPanel.test.jsx
  translate/src/modules/search/components/SearchPanel.tsx
Due: frontend

Fix search options displayed when coming from search URL
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchBox.tsx
Due: frontend

Clean up
  pontoon/base/views.py
  translate/src/context/Location.tsx
  translate/src/modules/search/components/SearchBox.tsx
  translate/src/modules/search/components/SearchPanel.tsx
Due: frontend

Address review comments
  pontoon/base/views.py
  pontoon/contributors/static/css/settings.css
  pontoon/contributors/templates/contributors/settings.html
  translate/src/modules/search/components/SearchPanel.css
  translate/src/modules/search/components/SearchPanel.tsx
Due: frontend

Fix click not working outside of text (open search settings)
  translate/src/modules/search/components/SearchPanel.css
Due: frontend

Add Feature development docs (#4014)
  CONTRIBUTING.rst
  docs/conf.py
  docs/dev/feature-development-process.rst
  docs/index.rst
Due: none

Apply remaining CSS fixes
  translate/src/modules/search/components/SearchPanel.css
Due: frontend

Update translate/src/modules/search/components/SearchPanel.css
  translate/src/modules/search/components/SearchPanel.css
Due: frontend

Add advanced search options to user settings (#4012)
  pontoon/base/migrations/0107_add_search_settings_to_userprofile.py
  pontoon/base/models/user_profile.py
  pontoon/base/views.py
  pontoon/contributors/templates/contributors/settings.html
  pontoon/contributors/views.py
  pontoon/search/views.py
  translate/public/locale/en-US/translate.ftl
  translate/src/api/entity.ts
  translate/src/api/user.ts
  translate/src/context/Location.tsx
  translate/src/modules/entitieslist/components/EntitiesList.tsx
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchBox.tsx
  translate/src/modules/search/components/SearchPanel.css
  translate/src/modules/search/components/SearchPanel.test.jsx
  translate/src/modules/search/components/SearchPanel.tsx
  translate/src/modules/search/constants.ts
  translate/src/modules/user/reducer.ts
Due: frontend

Separate the instruction from the data in order to prevent prompt injection
  pontoon/machinery/openai_service.py
Due: none

Make prompty more DRY
  pontoon/machinery/openai_service.py
Due: none

change Variable names to camel case
  translate/src/modules/entitydetails/components/Metadata.test.jsx
  translate/src/modules/history/components/HistoryTranslation.test.jsx
Due: frontend

used dynamic aria-label in Entities list tests
  translate/src/modules/entitieslist/components/EntitiesList.test.js
  translate/src/modules/entitieslist/components/Entity.tsx
  translate/src/test/store.jsx
Due: frontend

Migrate frontend tests under entitiesList, entitydetails and historyTranslation to testing-library (#3992)
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/entitieslist/components/EntitiesList.test.js
  translate/src/modules/entitieslist/components/Entity.test.jsx
  translate/src/modules/entitieslist/components/Entity.tsx
  translate/src/modules/entitydetails/components/FluentAttribute.test.jsx
  translate/src/modules/entitydetails/components/Metadata.test.jsx
  translate/src/modules/entitydetails/components/Screenshots.test.jsx
  translate/src/modules/history/components/HistoryTranslation.test.jsx
  translate/src/test/store.jsx
  translate/src/test/utils.jsx
Due: frontend

target_language_name > target_language
  pontoon/machinery/openai_service.py
Due: none

, > .
  pontoon/machinery/openai_service.py
Due: none

Reuse intro_text one more time
  pontoon/machinery/openai_service.py
Due: none

Remove unused file
  pontoon/static/js/errors/index.js
Due: non-frontend-js

Remove unused file (#4019)
  pontoon/static/js/errors/index.js
Due: non-frontend-js

OpenAIService Prompt improvements (#4018)
  pontoon/machinery/openai_service.py
Due: none

add actionlog visibility feature
  pontoon/actionlog/models.py
  pontoon/contributors/tests/test_utils.py
  pontoon/contributors/utils.py
  pontoon/contributors/views.py
Due: none

Update pontoon/actionlog/models.py
  pontoon/actionlog/models.py
Due: none

Add initial documentation folder
  documentation/README.md
  documentation/docs/admin/adding-new-locale.md
  documentation/docs/admin/adding-new-project.md
  documentation/docs/admin/adding-short-term-project.md
  documentation/docs/admin/adding-terminology.md
  documentation/docs/admin/index.md
  documentation/docs/admin/managing-pretranslation.md
  documentation/docs/admin/managing-users.md
  documentation/docs/admin/messaging-center.md
  documentation/docs/admin/renaming-file.md
  documentation/docs/admin/renaming-project.md
  documentation/docs/assets/pontoon-logo.svg
  documentation/docs/dev/contributing.md
  documentation/docs/dev/deployment.md
  documentation/docs/dev/feature-development-process.md
  documentation/docs/dev/first-contribution.md
  documentation/docs/dev/index.md
  documentation/docs/dev/localizing-your-projects.md
  documentation/docs/dev/maintenance.md
  documentation/docs/dev/setup-virtualenv.md
  documentation/docs/dev/setup.md
  documentation/docs/index.md
  documentation/docs/localizer/glossary.md
  documentation/docs/localizer/index.md
  documentation/docs/localizer/notifications.md
  documentation/docs/localizer/profile.md
  documentation/docs/localizer/teams-projects.md
  documentation/docs/localizer/translate.md
  documentation/docs/localizer/translation-workspace.md
  documentation/docs/localizer/users.md
  documentation/docs/stylesheets/extra.css
  documentation/mkdocs.yml
Due: none

Add `make docs` command to build docs
  Makefile
Due: none

Install mkdocs requirements and build docs
  .github/workflows/backend.yml
  bin/post_compile
  docker/Dockerfile
  docker/Dockerfile-mozcloud
  requirements/default.in
  requirements/default.txt
Due: none

Django config changes
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

propagate viewer arg over actions arg + more tests
  pontoon/contributors/tests/test_utils.py
  pontoon/contributors/utils.py
  pontoon/contributors/views.py
Due: none

On the profile page only expose actions visible to the viewer (#4009)
  pontoon/actionlog/models.py
  pontoon/contributors/tests/test_utils.py
  pontoon/contributors/utils.py
  pontoon/contributors/views.py
Due: none

Cache calls to external API services for one week
  pontoon/machinery/openai_service.py
  pontoon/machinery/tests/conftest.py
  pontoon/machinery/tests/test_views.py
  pontoon/machinery/utils.py
  pontoon/machinery/views.py
  pontoon/settings/base.py
Due: none

Fix warnings in Python back-end tests
  pontoon/api/views.py
  pontoon/base/tests/__init__.py
  pontoon/db/tests/test_lookups.py
  pontoon/messaging/tests/test_emails.py
  pontoon/settings/base.py
  pontoon/test/factories.py
  pytest.ini
Due: none

Remove filterwarnings
  pytest.ini
Due: none

migrate to rtl under /machinery /original /otherlocales
  translate/src/modules/history/components/HistoryTranslation.test.jsx
  translate/src/modules/machinery/components/Machinery.test.jsx
  translate/src/modules/machinery/components/MachineryCount.test.jsx
  translate/src/modules/machinery/components/MachineryTranslationSource.test.jsx
  translate/src/modules/machinery/components/source/CaighdeanTranslation.test.jsx
  translate/src/modules/machinery/components/source/GoogleTranslation.test.jsx
  translate/src/modules/machinery/components/source/MicrosoftTerminology.test.jsx
  translate/src/modules/machinery/components/source/MicrosoftTranslation.test.jsx
  translate/src/modules/machinery/components/source/TranslationMemory.test.jsx
  translate/src/modules/originalstring/components/RichString.test.jsx
  translate/src/modules/otherlocales/components/OtherLocales.test.jsx
  translate/src/modules/otherlocales/components/OtherLocales.tsx
  translate/src/modules/otherlocales/components/OtherLocalesCount.test.jsx
  translate/src/test/store.jsx
  translate/src/test/utils.jsx
Due: frontend

Apply review comment
  pontoon/settings/base.py
Due: none
