Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Upgrade Python to 3.9.6
  docker/Dockerfile
  runtime.txt
Due: none

Run pyupgrade to improve syntax
  pontoon/base/tests/views/test_entity.py
  pontoon/insights/utils.py
Due: none

Run black to fix formatting issue
  pontoon/base/tests/views/test_entity.py
Due: none

Fix Python version on pylint
  .github/workflows/py-lint.yml
Due: none

Upgrade Python to 3.9.6 (#1971)
  .github/workflows/py-lint.yml
  docker/Dockerfile
  pontoon/base/tests/views/test_entity.py
  pontoon/insights/utils.py
  runtime.txt
Due: none

Fix bug 1720701: Add repo links to developer docs
  CONTRIBUTING.rst
  docs/dev/setup-virtualenv.rst
  docs/dev/setup.rst
  docs/index.rst
Due: none

Fix bug 1720701: Add repo links to developer docs (#1972)
  CONTRIBUTING.rst
  docs/dev/setup-virtualenv.rst
  docs/dev/setup.rst
  docs/index.rst
Due: none

Bug 1720875: Add warning for M1 MacBook users to Developer Setup docs
  docs/dev/setup.rst
Due: none

Bug 1720875: Add warning for M1 MacBook users to Developer Setup docs (#1973)
  docs/dev/setup.rst
Due: none

add typescript commit to blame ignore file
  .git-blame-ignore-revs
Due: none

Add typescript commit to blame ignore file (#1974)
  .git-blame-ignore-revs
Due: none

Address some review comments
  specs/0103-milestones.md
Due: none

Fix bug 1720977: Honour prefers-reduced-motion on homepage
  pontoon/homepage/static/js/homepage.js
Due: none

Fix Prettier... in an unchanged file... hm...
  frontend/src/modules/interactivetour/components/InteractiveTour.tsx
Due: frontend

Factor out error views
  pontoon/urls.py
Due: backend

Fix bug 1720895: Disable Django Admin login form
  pontoon/urls.py
Due: backend

Honour prefers-reduced-motion in menus
  pontoon/base/static/js/main.js
Due: none

Honour prefers-reduced-motion in EntityList
  frontend/src/modules/entitieslist/components/EntitiesList.tsx
Due: frontend

Honour prefers-reduced-motion in Machinery and Locales tabs
  frontend/src/modules/machinery/components/Translation.tsx
  frontend/src/modules/otherlocales/components/Translation.tsx
Due: frontend

Mock window.matchMedia to prevent TypeError in Jest
  frontend/src/modules/machinery/components/Translation.test.js
  frontend/src/test/utils.ts
Due: frontend

Apply suggestions from code review
  frontend/src/modules/machinery/components/Translation.tsx
  frontend/src/modules/otherlocales/components/Translation.tsx
Due: frontend

Fix prettier
  frontend/src/modules/machinery/components/Translation.tsx
  frontend/src/modules/otherlocales/components/Translation.tsx
Due: frontend

Fix bug 1720977: Honour prefers-reduced-motion (#1975)
  frontend/src/modules/entitieslist/components/EntitiesList.tsx
  frontend/src/modules/interactivetour/components/InteractiveTour.tsx
  frontend/src/modules/machinery/components/Translation.test.js
  frontend/src/modules/machinery/components/Translation.tsx
  frontend/src/modules/otherlocales/components/Translation.tsx
  frontend/src/test/utils.ts
  pontoon/base/static/js/main.js
  pontoon/homepage/static/js/homepage.js
Due: frontend

Fix bug 1720895: Disable Django admin login form (#1976)
  pontoon/urls.py
Due: backend

Fix bug 1722562: Update FxA local configuration
  docker/config/webapp.env.template
Due: none

Fix bug 1722562: Update FxA local configuration (#1977)
  docker/config/webapp.env.template
Due: none

No bug, use constraints vs imports in python requirements.
  CONTRIBUTING.rst
  docker/Dockerfile
  docs/dev/setup-virtualenv.rst
  requirements/default.in
  requirements/dev.in
  requirements/dev.txt
  requirements/lint.in
  requirements/test.in
  requirements/test.txt
Due: none

No bug, use markupsafe.Markup instead of jinja2, as advertised.
  pontoon/base/templatetags/helpers.py
  requirements/default.in
  requirements/default.txt
Due: none

pass entity to Translation as a prop
  frontend/src/core/editor/hooks/useCopyMachineryTranslation.ts
  frontend/src/modules/machinery/components/Machinery.tsx
  frontend/src/modules/machinery/components/Translation.tsx
Due: frontend

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: frontend/
  non-frontend-js: any of: tests/**.js, pontoon/static/js/
