Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment:
  layout: condensed_header
  behavior: default # post new comment, edit if it already exists
  require_changes: coverage_drop AND uncovered_patch
  hide_project_coverage: false # show coverage only for the diff

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - translate/
    carryforward: true

  non-frontend-js:
    paths:
      - pontoon/static/js/
    carryforward: true

Add some type hints
  pontoon/base/models/entity.py
  pontoon/base/models/resource.py
  pontoon/base/models/translation.py
  pontoon/batch/utils.py
  pontoon/translations/views.py
Due: none

Add Translation.value and .properties, with data model contents
  pontoon/base/migrations/0108_add_translation_value_and_properties_schema.py
  pontoon/base/migrations/0109_add_translation_value_and_properties_data.py
  pontoon/base/migrations/0110_require_translation_value.py
  pontoon/base/models/translation.py
  pontoon/base/tests/__init__.py
  pontoon/batch/utils.py
  pontoon/pretranslation/tasks.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/formats/__init__.py
  pontoon/test/factories.py
  pontoon/translations/forms.py
  pontoon/translations/tests/test_views.py
  pontoon/translations/utils.py
  pontoon/translations/views.py
Due: none

obsolete entity cannot be translated
  pontoon/translations/views.py
Due: none

implement back and forth search history
  pontoon/search/static/js/search.js
Due: none

Make aggregate_stats() a TranslationQuerySet method
  pontoon/base/models/translated_resource.py
  pontoon/base/models/translation.py
Due: none

Optimize stats() functions, fall back on IntegrityError (#4036)
  pontoon/base/models/entity.py
  pontoon/base/models/translated_resource.py
  pontoon/base/models/translation.py
  pontoon/base/tests/models/test_stats.py
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/editor/hooks/useSendTranslation.ts
  translate/src/modules/notification/messages.tsx
Due: frontend

string -> entity in var names
  pontoon/machinery/openai_service.py
  pontoon/machinery/tests/test_views.py
  pontoon/machinery/views.py
  translate/src/api/machinery.test.ts
  translate/src/api/machinery.ts
Due: frontend

Ignore %% and %n when checking Android placeholders
  pontoon/checks/libraries/custom.py
  pontoon/checks/tests/test_custom.py
Due: none

Switch endpoint to POST
  pontoon/machinery/tests/test_views.py
  pontoon/machinery/views.py
  translate/src/api/machinery.test.ts
  translate/src/api/machinery.ts
Due: frontend

Move logic to backend
  pontoon/machinery/openai_service.py
  pontoon/machinery/tests/test_views.py
  pontoon/machinery/views.py
  translate/src/api/machinery.test.ts
  translate/src/api/machinery.ts
  translate/src/context/TranslationContext.tsx
  translate/src/modules/machinery/components/source/GoogleTranslation.tsx
  translate/src/modules/machinery/getEntityStringId.test.ts
  translate/src/modules/machinery/getEntityStringId.ts
Due: frontend

Ignore %% and %n when checking Android placeholders (#4057)
  pontoon/checks/libraries/custom.py
  pontoon/checks/tests/test_custom.py
Due: none

Add initial documentation folder
  documentation/README.md
  documentation/docs/admin/adding-new-locale.md
  documentation/docs/admin/adding-new-project.md
  documentation/docs/admin/adding-short-term-project.md
  documentation/docs/admin/adding-terminology.md
  documentation/docs/admin/index.md
  documentation/docs/admin/managing-pretranslation.md
  documentation/docs/admin/managing-users.md
  documentation/docs/admin/messaging-center.md
  documentation/docs/admin/renaming-file.md
  documentation/docs/admin/renaming-project.md
  documentation/docs/assets/pontoon-logo.svg
  documentation/docs/dev/contributing.md
  documentation/docs/dev/deployment.md
  documentation/docs/dev/feature-development-process.md
  documentation/docs/dev/first-contribution.md
  documentation/docs/dev/index.md
  documentation/docs/dev/localizing-your-projects.md
  documentation/docs/dev/maintenance.md
  documentation/docs/dev/setup-virtualenv.md
  documentation/docs/dev/setup.md
  documentation/docs/index.md
  documentation/docs/localizer/glossary.md
  documentation/docs/localizer/index.md
  documentation/docs/localizer/notifications.md
  documentation/docs/localizer/profile.md
  documentation/docs/localizer/teams-projects.md
  documentation/docs/localizer/translate.md
  documentation/docs/localizer/translation-workspace.md
  documentation/docs/localizer/users.md
  documentation/docs/stylesheets/extra.css
  documentation/mkdocs.yml
Due: none

Django config changes
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

Drop CSS
  docz/zensical.toml
Due: none

Install mkdocs requirements and build docs
  .github/workflows/backend.yml
  bin/post_compile
  docker/Dockerfile
  docker/Dockerfile-mozcloud
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Remove mkdocs
  .github/workflows/backend.yml
  Makefile
  bin/post_compile
  docker/Dockerfile
  docker/Dockerfile-mozcloud
  documentation/docs/dev/setup.md
  documentation/mkdocs.yml
  documentation/zensical.toml
  docz/docs/admin/adding-new-locale.md
  docz/docs/admin/adding-new-project.md
  docz/docs/admin/adding-short-term-project.md
  docz/docs/admin/adding-terminology.md
  docz/docs/admin/index.md
  docz/docs/admin/managing-pretranslation.md
  docz/docs/admin/managing-users.md
  docz/docs/admin/messaging-center.md
  docz/docs/admin/renaming-file.md
  docz/docs/admin/renaming-project.md
  docz/docs/assets/pontoon-logo.svg
  docz/docs/dev/contributing.md
  docz/docs/dev/deployment.md
  docz/docs/dev/feature-development-process.md
  docz/docs/dev/first-contribution.md
  docz/docs/dev/index.md
  docz/docs/dev/localizing-your-projects.md
  docz/docs/dev/maintenance.md
  docz/docs/dev/setup-virtualenv.md
  docz/docs/dev/setup.md
  docz/docs/index.md
  docz/docs/localizer/glossary.md
  docz/docs/localizer/index.md
  docz/docs/localizer/notifications.md
  docz/docs/localizer/profile.md
  docz/docs/localizer/teams-projects.md
  docz/docs/localizer/translate.md
  docz/docs/localizer/translation-workspace.md
  docz/docs/localizer/users.md
  docz/docs/stylesheets/extra.css
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

Add `make docs` command to build docs
  Makefile
Due: none

Update Zensical config
  docz/zensical.toml
Due: none

Add zensical
  .github/workflows/backend.yml
  Makefile
  bin/post_compile
  docker/Dockerfile
  docker/Dockerfile-mozcloud
  docz/docs/admin/adding-new-locale.md
  docz/docs/admin/adding-new-project.md
  docz/docs/admin/adding-short-term-project.md
  docz/docs/admin/adding-terminology.md
  docz/docs/admin/index.md
  docz/docs/admin/managing-pretranslation.md
  docz/docs/admin/managing-users.md
  docz/docs/admin/messaging-center.md
  docz/docs/admin/renaming-file.md
  docz/docs/admin/renaming-project.md
  docz/docs/assets/pontoon-logo.svg
  docz/docs/dev/contributing.md
  docz/docs/dev/deployment.md
  docz/docs/dev/feature-development-process.md
  docz/docs/dev/first-contribution.md
  docz/docs/dev/index.md
  docz/docs/dev/localizing-your-projects.md
  docz/docs/dev/maintenance.md
  docz/docs/dev/setup-virtualenv.md
  docz/docs/dev/setup.md
  docz/docs/index.md
  docz/docs/localizer/glossary.md
  docz/docs/localizer/index.md
  docz/docs/localizer/notifications.md
  docz/docs/localizer/profile.md
  docz/docs/localizer/teams-projects.md
  docz/docs/localizer/translate.md
  docz/docs/localizer/translation-workspace.md
  docz/docs/localizer/users.md
  docz/docs/stylesheets/extra.css
  docz/zensical.toml
  pontoon/settings/base.py
  pontoon/urls.py
  requirements/default.in
  requirements/default.txt
Due: backend

Update zensical to 0.0.28
  pontoon/settings/base.py
  requirements/default.in
  requirements/default.txt
Due: none

Update Developer Guide
  documentation/docs/dev/contributing.md
  documentation/docs/dev/deployment.md
  documentation/docs/dev/feature-development-process.md
  documentation/docs/dev/first-contribution.md
  documentation/docs/dev/index.md
  documentation/docs/dev/localizing-your-projects.md
  documentation/docs/dev/maintenance.md
  documentation/docs/dev/setup-virtualenv.md
  documentation/docs/dev/setup.md
  documentation/zensical.toml
Due: none

Update README
  documentation/README.md
Due: none

Update config
  documentation/zensical.toml
Due: none

Update Developer Guide #2
  documentation/docs/dev/developer-setup.md
  documentation/docs/dev/first-contribution.md
  documentation/docs/dev/index.md
  documentation/docs/dev/localizing-your-projects.md
  documentation/docs/index.md
  documentation/zensical.toml
Due: none

Update zensical to 0.0.29
  requirements/default.in
  requirements/default.txt
Due: none

High-level docs updates
  documentation/docs/admin/index.md
  documentation/docs/index.md
  documentation/docs/localizer/index.md
Due: none

Remove mkdocs reqs
  requirements/default.in
  requirements/default.txt
Due: none

Remove extra stylesheet
  documentation/docs/stylesheets/extra.css
Due: none

Drop index.html from URL
  pontoon/urls.py
Due: backend

Fix workflow
  .github/workflows/backend.yml
Due: none

Update .prettierignore
  .prettierignore
Due: none

Update Admin Guide
  documentation/docs/admin/adding-new-locale.md
  documentation/docs/admin/adding-new-project.md
  documentation/docs/admin/adding-short-term-project.md
  documentation/docs/admin/adding-terminology.md
  documentation/docs/admin/managing-pretranslation.md
  documentation/docs/admin/messaging-center.md
  documentation/docs/admin/renaming-file.md
  documentation/docs/admin/renaming-project.md
  documentation/docs/assets/admin/manage_tags_resources.png
Due: none

Fix broken links and small errors in content
  documentation/docs/admin/adding-new-project.md
  documentation/docs/admin/index.md
  documentation/docs/localizer/glossary.md
  documentation/docs/localizer/teams-projects.md
  documentation/docs/localizer/translate.md
  documentation/docs/localizer/translation-workspace.md
  documentation/docs/localizer/users.md
Due: none

Update Makefile
  Makefile
Due: none

Fix link
  documentation/docs/admin/adding-new-project.md
Due: none

Update zensical to 0.0.31
  requirements/default.in
  requirements/default.txt
Due: none

Hide TOC on main pages
  documentation/docs/admin/index.md
  documentation/docs/dev/index.md
  documentation/docs/index.md
  documentation/docs/localizer/index.md
Due: none

Do not autohide header
  documentation/zensical.toml
Due: none
