Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Update test_views.py
  pontoon/api/tests/test_views.py
Due: none

wierd rebase fix
  pontoon/api/views.py
Due: none

add same functionality to display-name
  pontoon/contributors/static/css/profile.css
Due: none

fix typo
  docs/admin/deployment.rst
  pontoon/messaging/management/commands/send_onboarding_emails.py
Due: none

fix levenstein ratio for python
  pontoon/base/models/translation_memory.py
Due: none

Profile Page: Add text wrapping to username and bio text displays (#3865)
  pontoon/contributors/static/css/profile.css
Due: none

Pretranslation API (#3834)
  docs/admin/deployment.rst
  pontoon/api/authentication.py
  pontoon/api/tests/test_views.py
  pontoon/api/urls.py
  pontoon/api/views.py
  pontoon/base/migrations/0102_add_pretranslators_group.py
  pontoon/pretranslation/pretranslate.py
  pontoon/settings/base.py
Due: none

fix levenstein ratio for python (#3872)
  pontoon/base/models/translation_memory.py
Due: none

Disabled users should not receive emails (#3870)
  docs/admin/deployment.rst
  pontoon/messaging/emails.py
  pontoon/messaging/management/commands/send_onboarding_emails.py
Due: none

install socialaccount extra
  requirements/default.in
  requirements/default.txt
Due: none

refactor provider options
  pontoon/settings/base.py
Due: none

refactor provider urlpatterns due to get_list() deprecation
  pontoon/allauth_urls.py
Due: backend

refactor provider due to get_list deprecation
  pontoon/base/templatetags/helpers.py
Due: none

Add rules to ignore plural for millions in Ladin, Sicilian & Venetian
  translate/src/utils/message/getPluralCategories.ts
Due: frontend

Add rules to ignore plural for millions in Ladin, Sicilian & Venetian (#3874)
  translate/src/utils/message/getPluralCategories.ts
Due: frontend

added continue on error in jest
  .github/workflows/frontend.yml
Due: none

added js Dom environment in vitest config
  translate/vitest.config.ts
Due: frontend

updated the broken sinon mock with vitest in editor modules
  translate/src/modules/editor/components/Editor.test.jsx
  translate/src/modules/editor/components/EditorMainAction.test.jsx
  translate/src/modules/editor/components/EditorSettings.test.jsx
  translate/src/modules/editor/components/TranslationLength.test.jsx
  translate/src/modules/editor/hooks/useExistingTranslationGetter.test.jsx
  translate/src/modules/editor/hooks/useUpdateTranslationStatus.test.jsx
Due: frontend

refactor .by_id
  pontoon/base/templatetags/helpers.py
Due: none

ported Hooks tests to vitest
  translate/src/hooks/usePluralExamples.test.js
  translate/src/hooks/useReadonlyEditor.test.js
  translate/src/hooks/useTranslator.test.js
  translate/src/hooks/useUserBanner.test.js
  translate/src/modules/entities/hooks.test.js
Due: frontend

ported other test with minor changes to vitest
  translate/src/modules/comments/components/CommentsList.test.js
  translate/src/modules/entitydetails/components/EntityNavigation.test.jsx
  translate/src/modules/history/components/History.test.jsx
  translate/src/modules/history/components/HistoryTranslation.test.jsx
  translate/src/modules/machinery/components/Machinery.test.jsx
  translate/src/modules/otherlocales/components/OtherLocaleTranslation.test.jsx
  translate/src/modules/resourceprogress/components/ResourceProgress.test.js
  translate/src/modules/teamcomments/components/TeamComments.test.js
  translate/src/modules/unsavedchanges/components/UnsavedChangesPopup.test.jsx
  translate/src/modules/user/components/UserAutoUpdater.test.jsx
  translate/src/modules/user/components/UserControls.test.js
  translate/src/modules/user/components/UserMenu.test.jsx
  translate/src/modules/user/components/UserNotification.test.jsx
  translate/src/modules/user/components/UserNotificationsMenu.test.jsx
Due: frontend

added jsdom url to be just localhost without port
  translate/vitest.config.ts
Due: frontend

fixed lint issues
  translate/src/hooks/usePluralExamples.test.js
  translate/src/hooks/useTranslator.test.js
  translate/src/hooks/useUserBanner.test.js
  translate/src/modules/comments/components/CommentsList.test.js
  translate/vitest.config.ts
Due: frontend

reverted continue on error in jest job
  .github/workflows/frontend.yml
Due: none

fixed minor import issue
  translate/src/modules/editor/components/Editor.test.jsx
  translate/src/modules/editor/components/EditorMainAction.test.jsx
Due: frontend

Added Test ownership file so migrated test are ignored from jest
  .github/workflows/frontend.yml
  translate/jest.config.js
  translate/test-ownership.js
  translate/vitest.config.ts
Due: frontend

hide console warn in Editor Test
  translate/src/modules/editor/components/Editor.test.jsx
Due: frontend

Port editor module tests to Vitest (#3875)
  .github/workflows/frontend.yml
  translate/jest.config.js
  translate/src/modules/editor/components/Editor.test.jsx
  translate/src/modules/editor/components/EditorMainAction.test.jsx
  translate/src/modules/editor/components/EditorSettings.test.jsx
  translate/src/modules/editor/components/TranslationLength.test.jsx
  translate/src/modules/editor/hooks/useExistingTranslationGetter.test.jsx
  translate/src/modules/editor/hooks/useUpdateTranslationStatus.test.jsx
  translate/test-ownership.js
  translate/vitest.config.ts
Due: frontend

added new migrated test paths in test ownership file
  translate/test-ownership.js
Due: frontend

removed unused sinon imports
  translate/src/modules/editor/components/TranslationLength.test.jsx
  translate/src/modules/history/components/HistoryTranslation.test.jsx
  translate/test-ownership.js
Due: frontend

removed unneccessary Slash in test paths
  translate/test-ownership.js
Due: frontend

Port hooks test and other tests with minor changes to Vitest (#3877)
  translate/src/hooks/usePluralExamples.test.js
  translate/src/hooks/useReadonlyEditor.test.js
  translate/src/hooks/useTranslator.test.js
  translate/src/hooks/useUserBanner.test.js
  translate/src/modules/comments/components/CommentsList.test.js
  translate/src/modules/editor/components/TranslationLength.test.jsx
  translate/src/modules/entities/hooks.test.js
  translate/src/modules/entitydetails/components/EntityNavigation.test.jsx
  translate/src/modules/history/components/History.test.jsx
  translate/src/modules/history/components/HistoryTranslation.test.jsx
  translate/src/modules/machinery/components/Machinery.test.jsx
  translate/src/modules/otherlocales/components/OtherLocaleTranslation.test.jsx
  translate/src/modules/resourceprogress/components/ResourceProgress.test.js
  translate/src/modules/teamcomments/components/TeamComments.test.js
  translate/src/modules/unsavedchanges/components/UnsavedChangesPopup.test.jsx
  translate/src/modules/user/components/UserAutoUpdater.test.jsx
  translate/src/modules/user/components/UserControls.test.js
  translate/src/modules/user/components/UserMenu.test.jsx
  translate/src/modules/user/components/UserNotification.test.jsx
  translate/src/modules/user/components/UserNotificationsMenu.test.jsx
  translate/test-ownership.js
  translate/vitest.config.ts
Due: frontend

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: pontoon/static/js/
