Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment: off

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - frontend/
    carryforward: true

  non-frontend-js:
    paths:
      - tests/**.js
      - pontoon/static/js/
    carryforward: true

Upgrade to python 3.9.8 (#2364)
  runtime.txt
Due: none

fix: Set/clear state.unsavedchanges.exist correctly during complex -> rich editor switch
  frontend/src/core/editor/hooks/useUpdateUnsavedChanges.ts
Due: frontend

feat: Include/duplicate surrounding text within SelectExpression variants
  frontend/src/core/utils/fluent/convertSyntax.test.js
  frontend/src/core/utils/fluent/convertSyntax.ts
  frontend/src/core/utils/fluent/flattenMessage.test.js
  frontend/src/core/utils/fluent/flattenPatternElements.ts
Due: frontend

chore: Satisfy Prettier
  frontend/src/core/editor/hooks/useUpdateUnsavedChanges.ts
  frontend/src/core/utils/fluent/flattenMessage.test.js
  frontend/src/core/utils/fluent/flattenPatternElements.ts
Due: frontend

fix: Allow for empty variant elements array
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.tsx
Due: frontend

fix: Always include at least one element in flattened pattern
  frontend/src/core/utils/fluent/flattenPatternElements.ts
Due: frontend

fix: Skip unnecessary re-flattening in RichTranslationForm
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.tsx
Due: frontend

implement local state for entities list
  frontend/src/core/api/types.ts
  frontend/src/core/entities/reducer.ts
  frontend/src/modules/entitieslist/components/EntitiesList.tsx
  frontend/src/modules/entitieslist/components/Entity.tsx
  pontoon/base/models.py
  pontoon/base/tests/models/test_entity.py
  pontoon/base/views.py
Due: frontend

Change uses_underscore_as_separator function to only count folders
  pontoon/sync/utils.py
Due: none

Flatten Fluent select messages more (#2367)
  frontend/src/core/editor/hooks/useUpdateUnsavedChanges.ts
  frontend/src/core/utils/fluent/convertSyntax.test.js
  frontend/src/core/utils/fluent/convertSyntax.ts
  frontend/src/core/utils/fluent/flattenMessage.test.js
  frontend/src/core/utils/fluent/flattenPatternElements.ts
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.tsx
Due: frontend

Create unit test and dummy directory
  pontoon/sync/tests/dummy_directory/another_file.py
  pontoon/sync/tests/dummy_directory/some-file.py
  pontoon/sync/tests/test_utils.py
Due: none

Delete .devcontainer directory
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Update Django to 3.2.9
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
Due: none

Update existing dependencies within the given constraints of the input files
  requirements/default.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
Due: none

Change dir to absolute path and run linting commands
  pontoon/sync/tests/__init__.py
  pontoon/sync/tests/test_utils.py
Due: none

fix css and key styling
  frontend/src/modules/entitieslist/components/Entity.css
  pontoon/base/models.py
Due: frontend

Update Django to 3.2.9 (#2371)
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
Due: none

Update build command docs after dependency change
  CONTRIBUTING.rst
  frontend/README.md
Due: frontend

Update build command docs after dependency change (#2373)
  CONTRIBUTING.rst
  frontend/README.md
Due: frontend

Change dummy directory folder name,add empty directories inside dummy directory
  pontoon/sync/tests/locale-separator-tests/another_file.py
  pontoon/sync/tests/locale-separator-tests/en_GB/.gitignore
  pontoon/sync/tests/locale-separator-tests/en_NZ/.gitignore
  pontoon/sync/tests/locale-separator-tests/en_US/.gitignore
  pontoon/sync/tests/locale-separator-tests/es-ES/.gitignore
  pontoon/sync/tests/locale-separator-tests/es-MX/.gitignore
  pontoon/sync/tests/locale-separator-tests/some-file.py
Due: none

Update and rename DUMMY_DIRECTORY_PATH variable, change comment on uses_underscore_as_separator
  pontoon/sync/tests/__init__.py
  pontoon/sync/tests/test_utils.py
  pontoon/sync/utils.py
Due: none

Fix #2277: Create locale directories with the right separator (#2370)
  pontoon/sync/tests/__init__.py
  pontoon/sync/tests/locale-separator-tests/another_file.py
  pontoon/sync/tests/locale-separator-tests/en_GB/.gitignore
  pontoon/sync/tests/locale-separator-tests/en_NZ/.gitignore
  pontoon/sync/tests/locale-separator-tests/en_US/.gitignore
  pontoon/sync/tests/locale-separator-tests/es-ES/.gitignore
  pontoon/sync/tests/locale-separator-tests/es-MX/.gitignore
  pontoon/sync/tests/locale-separator-tests/some-file.py
  pontoon/sync/tests/test_utils.py
  pontoon/sync/utils.py
Due: none

fix state for entity component
  frontend/src/modules/entitieslist/components/EntitiesList.tsx
  frontend/src/modules/entitieslist/components/Entity.tsx
  pontoon/base/tests/models/test_entity.py
Due: frontend

New copy for the Unreviewed suggestions insights chart
  pontoon/insights/templates/insights/widgets/insights.html
  specs/0108-community-health-dashboard.md
Due: none

Flatten Fluent message when copying from original
  frontend/src/modules/fluenteditor/components/rich/RichEditor.tsx
Due: frontend

Fix grammar
  pontoon/insights/templates/insights/widgets/insights.html
  specs/0108-community-health-dashboard.md
Due: none

New copy for the Unreviewed suggestions insights chart (#2375)
  pontoon/insights/templates/insights/widgets/insights.html
  specs/0108-community-health-dashboard.md
Due: none

Flatten Fluent message when set externally as string
  frontend/src/modules/fluenteditor/components/rich/RichEditor.tsx
Due: frontend

Flatten Fluent message when copying from original (#2376)
  frontend/src/modules/fluenteditor/components/rich/RichEditor.tsx
Due: frontend

Update python to 3.9.9
  runtime.txt
Due: none

Update python to 3.9.9 (#2377)
  runtime.txt
Due: none

Fix #2378 - Remove legacy redirect for en-US locale
  pontoon/urls.py
Due: backend

Fix #2378 - Remove legacy redirect for en-US locale (#2379)
  pontoon/urls.py
Due: backend
