Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Refactor comment section and comment title
  frontend/src/core/comments/components/CommentsList.css
  frontend/src/core/comments/components/CommentsList.tsx
Due: frontend

Fix #2270 - Implement infinite scroll hook (#2394)
  frontend/package.json
  frontend/src/modules/machinery/components/Machinery.tsx
  frontend/yarn.lock
Due: frontend

Fix bad alignment on Webkit/Blink browsers
  pontoon/contributors/templates/contributors/profile.html
Due: none

Add ambiguous keys test & make use of order
  pontoon/sync/formats/json_keyvalue.py
  pontoon/sync/tests/formats/test_json_keyvalue.py
Due: none

refactor variables
  frontend/src/core/comments/components/CommentsList.tsx
Due: frontend

Do not break dashboard tabs into new line
  pontoon/base/static/css/style.css
Due: none

Do not break dashboard tabs into new line (#2409)
  pontoon/base/static/css/style.css
Due: none

Fix bad alignment on Webkit/Blink browsers (#2408)
  pontoon/contributors/templates/contributors/profile.html
Due: none

Update to python 3.9.10
  runtime.txt
Due: none

Update to python 3.9.10 (#2411)
  runtime.txt
Due: none

Fixes #2266 - Pinned comments in pinned section only (#2397)
  frontend/src/core/comments/components/CommentsList.tsx
Due: frontend

Refactor linkify to have a single entry point and integration tests
  frontend/src/core/linkify/index.test.js
  frontend/src/core/linkify/index.ts
Due: frontend

Refactor getImages in screenshots into a linkify part and a screenshot display part
  frontend/src/core/linkify/index.test.js
  frontend/src/core/linkify/index.ts
  frontend/src/modules/entitydetails/components/Screenshots.test.js
  frontend/src/modules/entitydetails/components/Screenshots.tsx
Due: frontend

Slightly tighten types
  frontend/src/modules/entitydetails/components/Screenshots.tsx
Due: frontend

Use our Linkify wrapper consistently
  frontend/src/core/comments/components/Comment.tsx
  frontend/src/core/user/components/UserNotification.tsx
  frontend/src/modules/entitydetails/components/Metadata.tsx
Due: frontend

Refactor linkify to have a single entry point and integration tests (#2398)
  frontend/src/core/comments/components/Comment.tsx
  frontend/src/core/linkify/index.test.js
  frontend/src/core/linkify/index.ts
  frontend/src/core/user/components/UserNotification.tsx
  frontend/src/modules/entitydetails/components/Metadata.tsx
  frontend/src/modules/entitydetails/components/Screenshots.test.js
  frontend/src/modules/entitydetails/components/Screenshots.tsx
Due: frontend

Convert Screenshots to functional component
  frontend/src/modules/entitydetails/components/Screenshots.tsx
Due: frontend

Make Screenshots interact with state, remove the props that used to do that
  frontend/src/modules/entitydetails/components/EntityDetails.tsx
  frontend/src/modules/entitydetails/components/Metadata.tsx
  frontend/src/modules/entitydetails/components/Screenshots.test.js
  frontend/src/modules/entitydetails/components/Screenshots.tsx
Due: frontend

update: EntitityList.tsx to functional component
  frontend/src/modules/entitieslist/components/EntitiesList.test.js
  frontend/src/modules/entitieslist/components/EntitiesList.tsx
Due: frontend

Fix test
  frontend/src/modules/entitydetails/components/Screenshots.test.js
Due: frontend

Remove legacy Aurora redirects
  pontoon/urls.py
Due: backend

Remove legacy Aurora redirects (#2416)
  pontoon/urls.py
Due: backend

Update key to be the url
  frontend/src/modules/entitydetails/components/Screenshots.tsx
Due: frontend

Make Screenshots deal with state directly (#2415)
  frontend/src/modules/entitydetails/components/EntityDetails.tsx
  frontend/src/modules/entitydetails/components/Metadata.tsx
  frontend/src/modules/entitydetails/components/Screenshots.test.js
  frontend/src/modules/entitydetails/components/Screenshots.tsx
Due: frontend

updated to refresh list when filter is re-applied
  frontend/src/modules/search/components/FiltersPanel.tsx
  frontend/src/modules/search/components/SearchBox.tsx
Due: frontend

added whitespaces back
  frontend/src/modules/search/components/FiltersPanel.tsx
  frontend/src/modules/search/components/SearchBox.tsx
Due: frontend

Add ability to Re-apply existing filter (#2419)
  frontend/src/modules/search/components/SearchBox.tsx
Due: frontend

update: resolved the automatic reset and selectfirstentityselectfirstentity()
  frontend/src/modules/entitieslist/components/EntitiesList.tsx
Due: frontend

Restore CSP and CSRF protection on /graphql
  pontoon/api/README.md
  pontoon/api/urls.py
  pontoon/settings/dev.py
Due: none

Additional comment for the GraphiQL inline script rule
  pontoon/settings/dev.py
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: frontend/
  non-frontend-js: any of: tests/**.js, pontoon/static/js/
