Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

small formatting change and unused path deletion
  docker/server_setup.sh
  pontoon/urls.py
Due: backend

Use node 24 in Docker image (#3644)
  docker/Dockerfile
Due: none

reinstated and edited some tests
  pontoon/api/tests/test_schema.py
Due: none

Use moz.l10n 0.7.0, add code comment reference for supported formats
  pontoon/sync/formats/__init__.py
  requirements/default.in
  requirements/default.txt
Due: none

Use moz.l10n for resource parsing (#3611)
  .github/workflows/backend.yml
  pontoon/base/migrations/0075_fix_android_ini_properties.py
  pontoon/base/tests/__init__.py
  pontoon/base/tests/views/test_upload.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/formats/__init__.py
  pontoon/sync/formats/common.py
  pontoon/sync/formats/json_extensions.py
  pontoon/sync/formats/json_keyvalue.py
  pontoon/sync/formats/po.py
  pontoon/sync/formats/properties.py
  pontoon/sync/formats/silme.py
  pontoon/sync/formats/xliff.py
  pontoon/sync/formats/xml.py
  pontoon/sync/tests/formats/__init__.py
  pontoon/sync/tests/formats/test_formats.py
  pontoon/sync/tests/formats/test_ftl.py
  pontoon/sync/tests/formats/test_json_extensions.py
  pontoon/sync/tests/formats/test_json_keyvalue.py
  pontoon/sync/tests/formats/test_legacy.py
  pontoon/sync/tests/formats/test_po.py
  pontoon/sync/tests/formats/test_properties.py
  pontoon/sync/tests/formats/test_silme.py
  pontoon/sync/tests/formats/test_xliff.py
  pontoon/sync/tests/formats/test_xml.py
  pontoon/sync/tests/test_repositories.py
  requirements/default.in
  requirements/default.txt
  requirements/test.in
  requirements/test.txt
Due: none

Update docs/dev/setup-virtualenv.rst
  docs/dev/setup-virtualenv.rst
Due: none

small space change
  pontoon/api/tests/test_schema.py
Due: none

editing ordering bug in setup file
  docs/dev/setup-virtualenv.rst
Due: none

Removed Pontoon Intro Project
  docker/server_setup.sh
  docs/dev/setup-virtualenv.rst
  pontoon/api/tests/test_schema.py
  pontoon/base/migrations/0075_remove_pontoon_intro_project.py
  pontoon/sync/tests/test_command.py
Due: none

removed useless repository and locale deletions
  pontoon/base/migrations/0075_remove_pontoon_intro_project.py
Due: none

changed more tests and edited contribution text
  CONTRIBUTING.rst
  pontoon/api/tests/test_schema.py
Due: none

applied synced migrations and merged them
  pontoon/base/migrations/0075_remove_pontoon_intro_project.py
  pontoon/base/migrations/0076_merge_20250520_1810.py
Due: none

switched around 2 schema tests
  pontoon/api/tests/test_schema.py
Due: none

renamed migration files to prevent ci error
  pontoon/base/migrations/0076_remove_pontoon_intro_project.py
  pontoon/base/migrations/0077_merge_20250520_1810.py
Due: none

edited migration files for consistency
  pontoon/base/migrations/0076_remove_pontoon_intro_project.py
  pontoon/base/migrations/0077_merge_20250520_1810.py
Due: none

ran make ruff
  pontoon/base/migrations/0076_remove_pontoon_intro_project.py
Due: none

Remove Pontoon Intro project (#3645)
  CONTRIBUTING.rst
  docker/server_setup.sh
  docs/dev/setup-virtualenv.rst
  pontoon/api/tests/test_schema.py
  pontoon/base/migrations/0076_remove_pontoon_intro_project.py
  pontoon/sync/tests/test_command.py
  pontoon/urls.py
Due: backend

Fix escaped quotes and newlines for Android strings
  pontoon/base/migrations/0077_fix_android_newlines.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/formats/xml.py
  pontoon/sync/tests/test_e2e.py
Due: none

Fix escaped quotes and newlines for Android strings (#3650)
  pontoon/base/migrations/0077_fix_android_newlines.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/formats/xml.py
  pontoon/sync/tests/test_e2e.py
Due: none

Imported light-theme sheet in base.html
  pontoon/base/templates/django/base.html
Due: none

Changed default theme to system
  pontoon/base/models/user_profile.py
  pontoon/base/templatetags/helpers.py
Due: none

Fixes system light/dark mode to prevent FOUC
  pontoon/base/migrations/0075_merge_20250516_2011.py
  pontoon/base/static/css/dark-theme.css
  pontoon/base/templatetags/helpers.py
Due: none

Working with blank login page
  pontoon/base/static/css/style.css
  pontoon/base/templates/django/base.html
  pontoon/base/templatetags/django_helpers.py
Due: none

Applied migrations
  pontoon/base/migrations/0073_alter_userprofile_theme.py
  translate/src/context/Theme.tsx
Due: frontend

merged another migration file
  pontoon/base/migrations/0078_alter_userprofile_theme.py
Due: none

reconfigured migration files and resolved conflicts from merge
  pontoon/base/migrations/0075_merge_20250516_2011.py
  pontoon/base/migrations/0077_alter_userprofile_theme.py
Due: none

Fix Android strings regexp
  pontoon/sync/formats/xml.py
Due: none

Fix Android strings regexp (#3651)
  pontoon/sync/formats/xml.py
Due: none

Change default theme to system theme (#3649)
  pontoon/base/migrations/0078_alter_userprofile_theme.py
  pontoon/base/models/user_profile.py
  pontoon/base/static/css/dark-theme.css
  pontoon/base/static/css/style.css
  pontoon/base/templates/django/base.html
  pontoon/base/templatetags/django_helpers.py
  pontoon/base/templatetags/helpers.py
  translate/src/context/Theme.tsx
Due: frontend

Use moz.l10n 0.7.4, with fixed Android string resource handling
  pontoon/base/migrations/0079_trim_android.py
  pontoon/sync/formats/xml.py
  pontoon/sync/tests/formats/test_xml.py
  requirements/default.in
  requirements/default.txt
Due: none

Use moz.l10n 0.7.4, with fixed Android string resource handling (#3652)
  pontoon/base/migrations/0079_trim_android.py
  pontoon/sync/formats/xml.py
  pontoon/sync/tests/formats/test_xml.py
  requirements/default.in
  requirements/default.txt
Due: none

Added UXActionLog to Entity Fetch
  translate/src/modules/entities/actions.ts
Due: frontend

Update translate/src/modules/entities/actions.ts
  translate/src/modules/entities/actions.ts
Due: frontend

ran make format
  translate/src/modules/entities/actions.ts
Due: frontend

removed search from uxactionlog
  translate/src/modules/entities/actions.ts
Due: frontend

removed login requirement and added authentication conditional
  pontoon/uxactionlog/views.py
Due: none

ran make format
  pontoon/uxactionlog/views.py
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: pontoon/static/js/
