Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Fix favicon links in Translate and 500 pages (#3409)
  pontoon/base/templates/500.html
  translate/public/translate.html
Due: frontend

Less and smaller codecov comments (#3410)
  .codecov.yml
Due: none

Simplify aggregated stats for .po plurals, use SQL UPDATE queries
  pontoon/base/models/translated_resource.py
  pontoon/sync/core/stats.py
  pontoon/sync/core/translations_from_repo.py
Due: none

Reduce stats updates further, include total_strings calculation
  pontoon/sync/core/__init__.py
  pontoon/sync/core/entities.py
  pontoon/sync/core/stats.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/models.py
  pontoon/sync/tests/test_entities.py
  pontoon/sync/tests/test_translations_from_repo.py
  pontoon/sync/utils.py
Due: none

Fix count background when hovering filters
  translate/src/modules/search/components/FiltersPanel.css
Due: frontend

Fix count background color when sidebar item is selected
  pontoon/base/static/css/sidebar_menu.css
Due: none

Fix count background when menu items are hovered or selected (#3411)
  pontoon/base/static/css/sidebar_menu.css
  translate/src/modules/search/components/FiltersPanel.css
Due: frontend

Use simpler query for looking up entity identifiers
  pontoon/sync/core/entities.py
  pontoon/sync/core/translations_from_repo.py
Due: none

Added stat trackers for all badge types
  pontoon/base/forms.py
  pontoon/base/models/user.py
  pontoon/translations/views.py
Due: none

Use new update_stats() for `manage.py calculate_stats` command
  pontoon/base/management/commands/calculate_stats.py
  pontoon/sync/core/stats.py
Due: none

Add & remove TranslatedResource objects when locales change
  pontoon/sync/core/entities.py
  pontoon/sync/tests/test_e2e.py
  pontoon/sync/tests/test_entities.py
Due: none

Check if users are managers and translators first, then admins
  pontoon/base/models/user.py
Due: none

Check if users are managers and translators first, then admins (#3414)
  pontoon/base/models/user.py
Due: none

Make `make shell` connect to the actual server container, add `make shell-root`
  Makefile
Due: none

Update Docker documentation (writing to repositories)
  CONTRIBUTING.rst
  docs/dev/setup.rst
Due: none

Move instructions to contributing.rst, add DOCKER_CLI_HINTS to make shell
  CONTRIBUTING.rst
  Makefile
  docs/dev/setup.rst
Due: none

make shell: Try to start the container if not running
  Makefile
Due: none

Undo change to other doc
  docs/dev/setup.rst
Due: none

Sum project total_strings from translated resources, not resources
  pontoon/sync/core/stats.py
Due: none

Improve `make shell`, add instructions for SSH in Docker (#3415)
  CONTRIBUTING.rst
  Makefile
Due: none

Update moz.l10n to 0.5.2, log changed resources
  pontoon/sync/core/entities.py
  requirements/default.in
  requirements/default.txt
Due: none

Do not throttle IPs of legitimate users
  pontoon/base/middleware.py
  pontoon/base/models/user.py
Due: none

Always sync all translated resources
  pontoon/sync/core/entities.py
  pontoon/sync/tests/test_translations_from_repo.py
Due: none

Refactored updating logic to no longer use model field
  pontoon/base/forms.py
  pontoon/base/migrations/0067_remove_userprofile_community_builder_level_and_more.py
  pontoon/base/models/user.py
  pontoon/base/models/user_profile.py
  pontoon/translations/views.py
Due: none

Do not throttle IPs of legitimate users (#3416)
  pontoon/base/middleware.py
  pontoon/base/models/user.py
Due: none

Addressed second round of review comments
  pontoon/base/forms.py
  pontoon/base/models/user.py
  pontoon/translations/views.py
Due: none

Properly merge main into branch
  CONTRIBUTING.rst
  Makefile
  pontoon/base/middleware.py
  pontoon/base/models/user.py
  pontoon/base/static/css/sidebar_menu.css
  translate/src/modules/search/components/FiltersPanel.css
Due: frontend

Addressed third round of review comments
  pontoon/base/forms.py
  pontoon/base/models/user.py
  pontoon/translations/views.py
Due: none

Update: Added middleware in settings and updated urls
  pontoon/base/middleware.py
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

Fix: Prettier linting
  pontoon/contributors/static/css/account_disabled.css
Due: none

Check if users are managers and translators first, then admins (frontend code)
  translate/src/hooks/useUserStatus.ts
Due: frontend

Fix tests
  translate/src/hooks/useUserStatus.test.js
Due: frontend

Addressed fourth round of review comments
  pontoon/base/models/user.py
Due: none

Acheived badges display in frontend
  pontoon/contributors/static/css/profile.css
  pontoon/contributors/static/img/community_builder_badge.svg
  pontoon/contributors/static/img/review_master_badge.svg
  pontoon/contributors/static/img/translation_champion_badge.svg
  pontoon/contributors/templates/contributors/profile.html
  pontoon/contributors/views.py
Due: none

Make priority starts visible in the Filter Panel on hover
  translate/src/modules/search/components/FiltersPanel.css
Due: frontend

Moved constants to settings, issue with badges_start_date
  pontoon/base/forms.py
  pontoon/base/models/user.py
  pontoon/contributors/views.py
  pontoon/settings/base.py
  pontoon/translations/views.py
Due: none

Fixed badges_start_date variable and svg, added tooltip
  pontoon/contributors/static/css/profile.css
  pontoon/contributors/static/img/community_builder_badge.svg
  pontoon/contributors/static/img/review_master_badge.svg
  pontoon/contributors/static/img/translation_champion_badge.svg
  pontoon/contributors/templates/contributors/profile.html
  pontoon/settings/base.py
Due: none

Make priority starts visible in the Filter Panel on hover (#3424)
  translate/src/modules/search/components/FiltersPanel.css
Due: frontend

Addressed first round of review comments
  pontoon/base/models/user.py
  pontoon/contributors/templates/contributors/profile.html
  pontoon/contributors/views.py
  pontoon/settings/base.py
Due: none

Fixed threshold imports
  pontoon/base/forms.py
  pontoon/translations/views.py
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: pontoon/static/js/
