Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment: off

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - translate/
    carryforward: true

  non-frontend-js:
    paths:
      - tag-admin/src/**.js
      - pontoon/static/js/
    carryforward: true

Satisfying prettier
  translate/src/modules/entitydetails/components/Metadata.test.js
Due: frontend

adding suggested changes
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/entitydetails/components/Metadata.tsx
Due: frontend

Adding 'date_created' to Entity and Display in Metadata
  translate/src/modules/entitydetails/components/Metadata.tsx
Due: frontend

Add validation check for date in EntityCreatedDate component
  translate/src/modules/entitydetails/components/Metadata.tsx
Due: frontend

Add default date_created to ENTITY objects in tests
  translate/src/modules/entitydetails/components/Metadata.tsx
Due: frontend

adding suggested changes
  translate/src/modules/entitydetails/components/Metadata.tsx
Due: frontend

Change defaut value in "Time to review" charts from 0 to None and in return calculate averages properly
  pontoon/insights/migrations/0011_time_to_review_pretranslations.py
  pontoon/insights/migrations/0012_time_to_review_pretranslations_data.py
  pontoon/insights/models.py
  pontoon/insights/static/js/insights.js
  pontoon/insights/tasks.py
  pontoon/insights/utils.py
Due: none

Add `date_created` Field to Entity and Display in Metadata Component (#2912)
  pontoon/base/models.py
  pontoon/base/tests/models/test_entity.py
  translate/public/locale/en-US/translate.ftl
  translate/src/api/entity.ts
  translate/src/context/EntityView.tsx
  translate/src/modules/entitydetails/components/EntityDetails.test.js
  translate/src/modules/entitydetails/components/Metadata.test.js
  translate/src/modules/entitydetails/components/Metadata.tsx
Due: frontend

Fix for Importing Translations from messages.json Files in Pontoon (#2920)
  pontoon/base/utils.py
  pontoon/sync/formats/__init__.py
Due: none

Render Time to review charts in seconds, converted to days
  pontoon/insights/utils.py
Due: none

Fix bad Google Translate user email on data extraction
  pontoon/insights/migrations/0012_time_to_review_pretranslations_data.py
  pontoon/insights/tasks.py
Due: none

Pretranslation monitoring: Time to review pretranslations chart (#2927)
  pontoon/insights/migrations/0011_time_to_review_pretranslations.py
  pontoon/insights/migrations/0012_time_to_review_pretranslations_data.py
  pontoon/insights/models.py
  pontoon/insights/static/css/insights.css
  pontoon/insights/static/css/insights_charts.css
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/tasks.py
  pontoon/insights/templates/insights/widgets/insights.html
  pontoon/insights/utils.py
Due: none

Fix bad Google Translate user email on data extraction
  pontoon/insights/migrations/0014_pretranslation_quality_data.py
Due: none

Change default values for the Approval Rate and the ChrF++ Score to None and refactor accordingly
  pontoon/insights/migrations/0013_pretranslation_quality.py
  pontoon/insights/migrations/0014_pretranslation_quality_data.py
  pontoon/insights/models.py
  pontoon/insights/static/js/insights.js
  pontoon/insights/tasks.py
  pontoon/insights/utils.py
Due: none

Update colorscheme
  pontoon/insights/static/css/insights.css
  pontoon/insights/static/js/insights.js
Due: none

Add Pretranslation quality chart
  pontoon/insights/migrations/0013_pretranslation_quality.py
  pontoon/insights/migrations/0014_pretranslation_quality_data.py
  pontoon/insights/models.py
  pontoon/insights/static/css/insights.css
  pontoon/insights/static/js/insights.js
  pontoon/insights/tasks.py
  pontoon/insights/templates/insights/widgets/insights.html
  pontoon/insights/utils.py
Due: none

Optimize chrF++ score calculation by pre-fetching approved translations with one DB query
  pontoon/insights/tasks.py
Due: none

Update tooltip
  pontoon/insights/templates/insights/widgets/insights.html
Due: none

Add comment comment about chrF++ score assignment
  pontoon/insights/tasks.py
Due: none

Pretranslation monitoring: Pretranslation quality chart (#2929)
  pontoon/insights/migrations/0013_pretranslation_quality.py
  pontoon/insights/migrations/0014_pretranslation_quality_data.py
  pontoon/insights/models.py
  pontoon/insights/static/css/insights.css
  pontoon/insights/static/js/insights.js
  pontoon/insights/tasks.py
  pontoon/insights/templates/insights/widgets/insights.html
  pontoon/insights/utils.py
Due: none

insights.{css,js} -> insights_tab.{css,js}
  pontoon/insights/static/css/insights_tab.css
  pontoon/insights/static/js/insights_tab.js
  pontoon/settings/base.py
Due: none

Render custom legend on global Pretranslation Quality charts: - Aligns both charts - Scales well for longer lists of Teams and Projects
  pontoon/insights/static/css/insights.css
  pontoon/insights/static/js/insights.js
  pontoon/insights/templates/insights/insights.html
Due: none

Update pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_charts.js
Due: none

Use fancy JS
  pontoon/insights/static/js/insights_tab.js
Due: none

Add Insights page
  pontoon/insights/static/css/insights.css
  pontoon/insights/static/js/insights.js
  pontoon/insights/templates/insights/insights.html
  pontoon/insights/urls.py
  pontoon/insights/utils.py
  pontoon/insights/views.py
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

Manually format X-axis to void buggy behavior of a time-based axis
  pontoon/insights/static/js/insights.js
Due: none

ENABLE_INSIGHTS_TAB -> ENABLE_INSIGHTS
  docker/config/server.env.template
  docs/admin/deployment.rst
  pontoon/localizations/templates/localizations/localization.html
  pontoon/localizations/views.py
  pontoon/projects/templates/projects/project.html
  pontoon/projects/views.py
  pontoon/settings/base.py
  pontoon/teams/templates/teams/team.html
  pontoon/teams/views.py
Due: none

Move Custom legend to insights_charts CSS/JS
  pontoon/insights/static/css/insights_charts.css
  pontoon/insights/static/css/insights_tab.css
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Restore chart group on the Profile page
  pontoon/contributors/static/css/profile.css
  pontoon/contributors/static/js/profile.js
Due: none

Only show clicked dataset when holding Alt or Command key
  pontoon/insights/static/js/insights_charts.js
Due: none

Lint and format JS
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Whoops
  pontoon/insights/static/js/insights_charts.js
Due: none

Pretranslation monitoring: Insights page (#2932)
  docker/config/server.env.template
  docs/admin/deployment.rst
  pontoon/contributors/static/css/profile.css
  pontoon/contributors/static/js/profile.js
  pontoon/insights/static/css/insights.css
  pontoon/insights/static/css/insights_charts.css
  pontoon/insights/static/css/insights_tab.css
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_tab.js
  pontoon/insights/templates/insights/insights.html
  pontoon/insights/urls.py
  pontoon/insights/utils.py
  pontoon/insights/views.py
  pontoon/localizations/templates/localizations/localization.html
  pontoon/localizations/views.py
  pontoon/projects/templates/projects/project.html
  pontoon/projects/views.py
  pontoon/settings/base.py
  pontoon/teams/templates/teams/team.html
  pontoon/teams/views.py
  pontoon/urls.py
Due: backend

FIx #2867 switch to h5bp/html5-boilerplate
  pontoon/base/static/css/boilerplate.css
  pontoon/base/templates/500.html
  pontoon/base/templates/base.html
  pontoon/homepage/static/css/homepage.css
Due: none

Revert "Temporarily disable the ability to Request Pretranslation"
  pontoon/teams/views.py
Due: none

Revert "Temporarily disable the ability to Request Pretranslation" (#2942)
  pontoon/teams/views.py
Due: none

Update CodeMirror dependencies
  package-lock.json
  translate/package.json
Due: frontend

Use new EditorView.bidiIsolatedRanges
  translate/src/modules/translationform/utils/decoratorPlugins.ts
Due: frontend

Refactor decorator plugin to iterate tree only once
  translate/src/modules/translationform/utils/decoratorPlugin.ts
  translate/src/modules/translationform/utils/decoratorPlugins.ts
  translate/src/modules/translationform/utils/editFieldExtensions.ts
Due: frontend
