Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

ported Hooks tests to vitest
  translate/src/hooks/usePluralExamples.test.js
  translate/src/hooks/useTranslator.test.js
  translate/src/hooks/useUserBanner.test.js
Due: frontend

fixed lint issues
  translate/src/hooks/usePluralExamples.test.js
  translate/src/hooks/useTranslator.test.js
  translate/src/hooks/useUserBanner.test.js
Due: frontend

ported broken Context test to vitest
  translate/src/context/EntityView.test.jsx
  translate/src/context/FailedChecksData.test.jsx
  translate/src/context/useActiveTranslation.test.jsx
Due: frontend

ported remaining broken test under modules directory
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/entitieslist/components/Entity.test.jsx
  translate/src/modules/l10n/components/AppLocalizationProvider.test.jsx
  translate/src/modules/notification/components/NotificationPanel.test.jsx
  translate/src/modules/project/components/ProjectMenu.test.jsx
  translate/src/modules/terms/components/Term.test.jsx
  translate/src/modules/terms/components/Terms.test.jsx
Due: frontend

configured to vitest to run all the test except InteractiveTour and EntitiesList
  translate/jest.config.js
  translate/test-ownership.js
  translate/vitest.config.ts
Due: frontend

fixed lint issue in frontend
  translate/src/context/EntityView.test.jsx
  translate/src/context/useActiveTranslation.test.jsx
  translate/src/modules/notification/components/NotificationPanel.test.jsx
  translate/test-ownership.js
Due: frontend

added broken getEmptyMessage to be ignored by vitest
  translate/test-ownership.js
Due: frontend

Update Ruff (0.14.10) and uv (0.9.21)
  .github/workflows/backend.yml
  .github/workflows/py-lint.yml
  docker/Dockerfile
  docker/Dockerfile-mozcloud
  requirements/default.txt
  requirements/lint.in
  requirements/lint.txt
Due: none

reverted removal of React import in test files
  translate/src/context/EntityView.test.jsx
  translate/src/context/FailedChecksData.test.jsx
  translate/src/modules/project/components/ProjectMenu.test.jsx
Due: frontend

Update Ruff (0.14.10) and uv (0.9.21) (#3881)
  .github/workflows/backend.yml
  .github/workflows/py-lint.yml
  docker/Dockerfile
  docker/Dockerfile-mozcloud
  requirements/default.txt
  requirements/lint.in
  requirements/lint.txt
Due: none

Fixed InteractiveTour test to run with vitest
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/interactivetour/components/InteractiveTour.test.js
  translate/test-ownership.js
Due: frontend

fixed minor spelling and notificationpanel test issue
  translate/src/modules/notification/components/NotificationPanel.test.jsx
  translate/test-ownership.js
  translate/vitest.config.ts
Due: frontend

Use MF2 syntax for xcode & xliff strings (#3855)
  pontoon/base/migrations/0100_android_as_mf2.py
  pontoon/base/migrations/0103_xliff_as_mf2.py
  pontoon/base/simple_preview.py
  pontoon/checks/libraries/__init__.py
  pontoon/checks/libraries/custom.py
  pontoon/pretranslation/pretranslate.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/formats/__init__.py
  pontoon/sync/formats/common.py
  pontoon/sync/formats/gettext.py
  pontoon/sync/formats/xliff.py
  pontoon/sync/tests/formats/test_ftl.py
  pontoon/sync/tests/formats/test_gettext.py
  pontoon/sync/tests/formats/test_json_extensions.py
  pontoon/sync/tests/formats/test_json_keyvalue.py
  pontoon/sync/tests/formats/test_properties.py
  pontoon/sync/tests/formats/test_xliff.py
  pontoon/sync/tests/formats/test_xml.py
  translate/src/context/Editor.tsx
  translate/src/modules/entitydetails/components/Metadata.tsx
  translate/src/modules/translation/components/Translation.tsx
  translate/src/modules/translationform/utils/editFieldExtensions.ts
  translate/src/utils/message/editMessageEntry.tsx
  translate/src/utils/message/getMessageEntryFormat.tsx
  translate/src/utils/message/getPlainMessage.ts
  translate/src/utils/message/index.ts
  translate/src/utils/message/parseEntry.ts
  translate/src/utils/message/placeholders.ts
  translate/src/utils/message/serializeEntry.ts
Due: frontend

Port remaining tests under context/ and module/ to Vitest (#3880)
  translate/jest.config.js
  translate/src/context/EntityView.test.jsx
  translate/src/context/FailedChecksData.test.jsx
  translate/src/context/useActiveTranslation.test.jsx
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/entitieslist/components/Entity.test.jsx
  translate/src/modules/interactivetour/components/InteractiveTour.test.js
  translate/src/modules/l10n/components/AppLocalizationProvider.test.jsx
  translate/src/modules/notification/components/NotificationPanel.test.jsx
  translate/src/modules/project/components/ProjectMenu.test.jsx
  translate/src/modules/terms/components/Term.test.jsx
  translate/src/modules/terms/components/Terms.test.jsx
  translate/test-ownership.js
  translate/vitest.config.ts
Due: frontend

Revert plural category sort removal of #3874
  translate/src/utils/message/getPluralCategories.ts
Due: frontend

add paths for regex to ignore /allauth and /mfa
  pontoon/settings/base.py
Due: none

change directory structure to match newest django allauth version
  pontoon/base/templates/account/account_inactive.html
  pontoon/base/templates/allauth/layouts/base.html
  pontoon/base/templates/django/account/base.html
  pontoon/base/templates/django/socialaccount/base.html
  pontoon/base/templates/registration/login.html
  pontoon/base/templates/socialaccount/authentication_error.html
Due: none

update deprecated urls
  pontoon/allauth_urls.py
Due: backend

remove mfa from jinja regex
  pontoon/settings/base.py
Due: none

silence NoReverseMatch error in Raygun
  pontoon/allauth_urls.py
  pontoon/settings/base.py
Due: backend

Add Translation.value and .properties, with data model contents
  pontoon/base/migrations/0104_add_translation_value_and_properties_schema.py
  pontoon/base/migrations/0105_add_translation_value_and_properties_data.py
  pontoon/base/models/translation.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/formats/__init__.py
  pontoon/translations/forms.py
  pontoon/translations/tests/test_forms.py
  pontoon/translations/tests/test_views.py
  pontoon/translations/views.py
  translate/src/api/translation.ts
  translate/src/modules/editor/components/Editor.test.jsx
  translate/src/modules/editor/hooks/useSendTranslation.ts
Due: frontend

Revert plural category sort removal of #3874 (#3882)
  translate/src/utils/message/getPluralCategories.ts
Due: frontend

added vitest/eslint-plugin and tsconfig vitest type declarations
  eslint.config.mjs
  package-lock.json
  package.json
  translate/eslint.config.mjs
  translate/tsconfig.json
Due: frontend

disabled EntitiesList Test to be fixed after react upgrade
  translate/src/modules/entitieslist/components/EntitiesList.test.js
Due: frontend

minor changes in config files and readme for vitest
  .github/workflows/frontend.yml
  CONTRIBUTING.rst
  translate/README.md
  translate/package.json
Due: frontend

changed make file to have vitest
  Makefile
Due: none

changed mockMatchMedia to use vitest
  translate/src/test/utils.jsx
Due: frontend

Skipped Broken Test in Entities List
  translate/src/modules/entitieslist/components/EntitiesList.test.js
Due: frontend

removed jest package, globals, and other related files
  eslint.config.mjs
  package-lock.json
  package.json
  translate/eslint.config.mjs
  translate/jest-jsdom-fix.mjs
  translate/jest.config.js
  translate/test-ownership.js
  translate/vitest.config.ts
Due: frontend

used stubGlobal instead of Object.defineProperty for matchMedia
  translate/src/test/utils.jsx
Due: frontend

removed jest job and added vitest codecov action
  .github/workflows/frontend.yml
  translate/package.json
  translate/vitest.config.ts
Due: frontend

changed relevant docs mentioning vitest
  CONTRIBUTING.rst
  translate/README.md
  translate/src/setupTests.ts
Due: frontend

removed unnecessary mockMatchMedia call in test
  translate/src/modules/machinery/components/MachineryTranslation.test.js
  translate/src/modules/otherlocales/components/OtherLocaleTranslation.test.jsx
  translate/src/modules/user/components/UserMenu.test.jsx
Due: frontend

sanity and functionality check
  pontoon/contributors/templates/contributors/settings.html
  pontoon/messaging/views.py
Due: none

force redirect to home after email consent
  pontoon/messaging/views.py
Due: none

force redirect home after email consent
  pontoon/messaging/views.py
Due: none

streamline homepage redirect, change tests
  pontoon/messaging/static/js/email_consent.js
  pontoon/messaging/tests/test_views.py
  pontoon/messaging/views.py
Due: none

silence deprecation warning for ACCOUNT_EMAIL_REQUIRED
  pontoon/settings/base.py
Due: none

run make format
  pontoon/settings/base.py
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: pontoon/static/js/
