Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment:
  layout: condensed_header
  behavior: default # post new comment, edit if it already exists
  require_changes: coverage_drop AND uncovered_patch
  hide_project_coverage: false # show coverage only for the diff

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - translate/
    carryforward: true

  non-frontend-js:
    paths:
      - pontoon/static/js/
    carryforward: true

Include value & properties for entities & translations in get-entities and get-history API calls
  pontoon/base/map_entities.py
  pontoon/base/models/translation.py
  pontoon/base/tests/models/test_entity.py
  pontoon/test/fixtures/base.py
  translate/src/api/entity.ts
  translate/src/api/translation.ts
  translate/src/context/EntityView.tsx
Due: frontend

Preserve pretranslation locales when saving project form in admin (#4208)
  pontoon/administration/forms.py
  pontoon/administration/tests/test_views.py
Due: none

Use correct syntax in standalone-login template
  pontoon/base/templates/allauth/layouts/base.html
Due: none

Use correct syntax in standalone-login template (#4214)
  pontoon/base/templates/allauth/layouts/base.html
Due: none

1. Skip composed requests for single-field entities. Gate the request on the entity having more than one translatable input, reusing the editor's field-counting logic.
  pontoon/machinery/tests/test_composed.py
  pontoon/machinery/views.py
  translate/src/api/machinery.test.ts
  translate/src/api/machinery.ts
  translate/src/context/MachineryTranslations.tsx
  translate/src/modules/machinery/components/MachineryTranslation.css
  translate/src/modules/machinery/components/MachineryTranslation.test.js
  translate/src/modules/machinery/components/MachineryTranslation.tsx
Due: frontend

Compose multi-value Machinery translations from TM and MT (#2886)
  pontoon/machinery/tests/test_composed.py
  pontoon/machinery/urls.py
  pontoon/machinery/views.py
  pontoon/pretranslation/pretranslate.py
  translate/src/api/machinery.test.ts
  translate/src/api/machinery.ts
  translate/src/context/MachineryTranslations.tsx
Due: frontend

Parse composed Machinery suggestions and distribute their values across all input fields, reusing the field-building logic that is already used by the History panel.
  translate/src/context/Editor.test.jsx
  translate/src/context/Editor.tsx
  translate/src/modules/machinery/components/MachineryTranslation.tsx
  translate/src/modules/translationform/utils/editFieldShortcuts.ts
Due: frontend

feat: Added FXA profile image
  pontoon/base/models/comment.py
  pontoon/base/models/translation.py
  pontoon/base/models/user.py
  pontoon/base/templates/allauth/layouts/base.html
  pontoon/base/templates/widgets/latest_activity.html
  pontoon/base/templates/widgets/profile.html
  pontoon/base/tests/models/test_comment.py
  pontoon/base/tests/test_user_utils.py
  pontoon/base/user_utils.py
  pontoon/base/views.py
  pontoon/contributors/templates/contributors/contributors.html
  pontoon/contributors/templates/contributors/profile.html
  pontoon/contributors/templates/contributors/settings.html
  pontoon/contributors/templates/contributors/widgets/contributor_list.html
Due: none

Rename dict -> data
  pontoon/base/models/translation.py
Due: none

Add unit test for translate/src/utils/message/ changes
  translate/src/utils/message/fromEntity.test.ts
  translate/src/utils/message/fromTranslation.test.ts
  translate/src/utils/message/getPlainMessage.test.js
Due: frontend

Update pontoon/insights/chs.py
  pontoon/insights/chs.py
Due: none

change LocaleChsSnapshot to LocaleHealthSnapshot, completion formula tweak, rename active_contributors+active_contributors_200_approved, migrations
  documentation/docs/dev/deployment.md
  pontoon/insights/admin.py
  pontoon/insights/chs.py
  pontoon/insights/migrations/0022_remove_localechssnapshot_active_contributors_200_approved_and_more.py
  pontoon/insights/migrations/0023_localehealthsnapshot_delete_localechssnapshot_and_more.py
  pontoon/insights/migrations/0024_rename_chs_score_localehealthsnapshot_chs_and_more.py
  pontoon/insights/models.py
  pontoon/insights/tasks.py
Due: none

dashboard frontend base
  pontoon/dashboard/__init__.py
  pontoon/dashboard/static/css/dashboard.css
  pontoon/dashboard/static/js/dashboard.js
  pontoon/dashboard/templates/dashboard/dashboard.html
  pontoon/dashboard/templates/dashboard/widgets/locale_list.html
  pontoon/dashboard/urls.py
  pontoon/dashboard/views.py
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

add chs cron job (not fully functional)
  documentation/docs/dev/deployment.md
  pontoon/insights/admin.py
  pontoon/insights/chs.py
  pontoon/insights/management/commands/collect_chs_snapshot.py
  pontoon/insights/migrations/0021_localechssnapshot.py
  pontoon/insights/models.py
  pontoon/insights/tasks.py
Due: none

add env variables over hardcoded constants
  pontoon/insights/chs.py
  pontoon/settings/base.py
Due: none

show consistent full date format in Translate tooltip
  pontoon/base/notification_utils.py
  pontoon/base/tests/test_notification_utils.py
  translate/src/modules/user/components/UserNotification.test.jsx
  translate/src/modules/user/components/UserNotification.tsx
  translate/src/modules/user/components/UserNotificationsMenu.test.jsx
Due: frontend

show exact date and time in Django tooltip
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: none

Update batch actions tests
  pontoon/batch/actions.py
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/batchactions/components/CopyFromLocale.tsx
Due: frontend

Add Copy from a Similar Locale batch action
  pontoon/batch/actions.py
  pontoon/batch/forms.py
  pontoon/batch/tests/test_utils.py
  translate/public/locale/en-US/translate.ftl
  translate/src/api/entity.ts
  translate/src/modules/batchactions/actions.ts
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/batchactions/components/CopyFromLocale.tsx
Due: frontend

Enable translations to be shown on the UI
  pontoon/batch/actions.py
Due: none

Use the locale selector instead of the input box
  translate/public/locale/en-US/translate.ftl
  translate/src/api/other-locales.ts
  translate/src/modules/batchactions/components/BatchActions.css
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/batchactions/components/CopyFromLocale.tsx
Due: frontend

Allow copying from source locale
  pontoon/batch/actions.py
  pontoon/batch/tests/test_utils.py
  translate/src/api/entity.ts
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/batchactions/components/LocaleSelector.tsx
Due: frontend

Adding documentation for the feature
  documentation/docs/localizer/translate.md
Due: none

Aligning locale selector UI and copy-to-all-strings behavior
  pontoon/batch/actions.py
  pontoon/batch/tests/test_utils.py
  translate/src/api/other-locales.ts
  translate/src/modules/batchactions/components/BatchActions.css
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/batchactions/components/LocaleSelector.tsx
Due: frontend

Fix badges function call
  pontoon/batch/actions.py
Due: none

add configuration form + button + model changes, add staff authentication
  pontoon/base/forms.py
  pontoon/base/migrations/0117_userprofile_dashboard_locales.py
  pontoon/base/models/user_profile.py
  pontoon/dashboard/static/css/config.css
  pontoon/dashboard/static/js/config.js
  pontoon/dashboard/templates/dashboard/config.html
  pontoon/dashboard/templates/dashboard/dashboard.html
  pontoon/dashboard/urls.py
  pontoon/dashboard/views.py
  pontoon/settings/base.py
Due: none

Clear URL-only filters when selecting a different filter in the UI
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchBox.tsx
Due: frontend

Fix Vitest hoisting warnings + Drop unused x from some filenames
  translate/src/context/EntityView.test.jsx
  translate/src/context/FailedChecksData.test.jsx
  translate/src/context/useActiveTranslation.test.js
  translate/src/hooks/usePluralExamples.test.js
  translate/src/hooks/useReadonlyEditor.test.js
  translate/src/hooks/useTranslator.test.js
  translate/src/hooks/useUserBanner.test.js
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/editor/components/EditorMainAction.test.jsx
  translate/src/modules/editor/components/EditorSettings.test.jsx
  translate/src/modules/editor/components/TranslationLength.test.jsx
  translate/src/modules/editor/hooks/useExistingTranslationGetter.test.jsx
  translate/src/modules/entities/hooks.test.js
  translate/src/modules/entitieslist/components/Entity.test.jsx
  translate/src/modules/history/components/HistoryTranslation.test.jsx
  translate/src/modules/interactivetour/components/InteractiveTour.test.jsx
  translate/src/modules/l10n/components/AppLocalizationProvider.test.jsx
  translate/src/modules/project/components/ProjectMenu.test.jsx
  translate/src/modules/terms/components/Term.test.jsx
  translate/src/modules/terms/components/Terms.test.jsx
  translate/src/modules/user/components/UserMenu.test.jsx
  translate/src/utils/message/buildMessageEntry.ts
  translate/src/utils/message/editMessageEntry.ts
  translate/src/utils/message/getMessageEntryFormat.ts
Due: frontend

Trigger "Frontend" CI jobs on package file changes
  .github/workflows/frontend.yml
Due: none

Rename JS linting script as "lint" rather than "eslint"
  Makefile
  package.json
Due: none

Fix CI actions
  .github/workflows/js-lint.yml
Due: none

Alas, looks like ubuntu-latest is still on Node.js 22 by default
  .github/workflows/js-lint.yml
Due: none

Move format_datetime to base.utils to break import cycle
  pontoon/base/notification_utils.py
  pontoon/base/templatetags/helpers.py
  pontoon/base/tests/test_notification_utils.py
  pontoon/base/utils.py
Due: none

Drop redundant "full" argument from format_datetime calls
  pontoon/base/notification_utils.py
  pontoon/base/tests/test_notification_utils.py
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: none

Rename parsed to parsedDate in UserNotification
  translate/src/modules/user/components/UserNotification.tsx
Due: frontend

add score/default view, change fields to Decimal, reform css, improve existing table sorting
  pontoon/base/static/js/table.js
  pontoon/dashboard/static/css/config.css
  pontoon/dashboard/static/css/dashboard.css
  pontoon/dashboard/static/js/dashboard.js
  pontoon/dashboard/templates/dashboard/config.html
  pontoon/dashboard/templates/dashboard/dashboard.html
  pontoon/dashboard/templates/dashboard/widgets/locale_list.html
  pontoon/dashboard/views.py
  pontoon/insights/chs.py
  pontoon/insights/migrations/0025_alter_localehealthsnapshot_active_contributors_score_and_more.py
  pontoon/insights/models.py
Due: none

missing dashboard.html addition
  pontoon/dashboard/templates/dashboard/dashboard.html
Due: none
