Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Fix bug 1701632: Implement metrics for user testing
  pontoon/settings/base.py
  pontoon/uxactionlog/__init__.py
  pontoon/uxactionlog/admin.py
  pontoon/uxactionlog/migrations/0001_initial.py
  pontoon/uxactionlog/migrations/__init__.py
  pontoon/uxactionlog/models.py
  pontoon/uxactionlog/utils.py
Due: none

Do not mutate the action variable
  pontoon/actionlog/utils.py
Due: none

Make experiment and data fields optional
  pontoon/uxactionlog/migrations/0001_initial.py
  pontoon/uxactionlog/models.py
  pontoon/uxactionlog/utils.py
Due: none

Fix bug 1704038: Upgrade to Django 3.2
  pontoon/administration/tests/test_views.py
  pontoon/base/__init__.py
  pontoon/contributors/apps.py
  pontoon/homepage/apps.py
  pontoon/insights/apps.py
  pontoon/localizations/apps.py
  pontoon/machinery/apps.py
  pontoon/projects/apps.py
  pontoon/settings/base.py
  pontoon/tags/__init__.py
  pontoon/tags/apps.py
  pontoon/teams/apps.py
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Fix bug 1701632: Implement metrics for user testing (#1920)
  pontoon/actionlog/utils.py
  pontoon/settings/base.py
  pontoon/uxactionlog/__init__.py
  pontoon/uxactionlog/admin.py
  pontoon/uxactionlog/migrations/0001_initial.py
  pontoon/uxactionlog/migrations/__init__.py
  pontoon/uxactionlog/models.py
  pontoon/uxactionlog/utils.py
Due: none

Make get_stats_sum return dict instead of AggregatedStats instance
  pontoon/base/models.py
  pontoon/projects/tests/test_views.py
  pontoon/teams/tests/test_views.py
Due: none

Mark tests with pytest.mark.no_cover
  pontoon/projects/tests/test_views.py
  pontoon/teams/tests/test_views.py
Due: none

Fix bug 1704038: Upgrade to Django 3.2 (#1921)
  pontoon/administration/tests/test_views.py
  pontoon/base/__init__.py
  pontoon/base/models.py
  pontoon/contributors/apps.py
  pontoon/homepage/apps.py
  pontoon/insights/apps.py
  pontoon/localizations/apps.py
  pontoon/machinery/apps.py
  pontoon/projects/apps.py
  pontoon/projects/tests/test_views.py
  pontoon/settings/base.py
  pontoon/tags/__init__.py
  pontoon/tags/apps.py
  pontoon/teams/apps.py
  pontoon/teams/tests/test_views.py
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Fix bug 1697583 : Filter out invalid machinery translations
  frontend/src/modules/entitydetails/components/Helpers.js
  frontend/src/modules/machinery/components/Machinery.js
Due: frontend

fix test
  frontend/src/modules/machinery/components/Machinery.test.js
Due: frontend

Bug 1704038: Update newrelic to 6.2.0.156
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Update django-debug-toolbar to 3.2.1
  requirements/dev.in
  requirements/dev.txt
Due: none

Fix bug 1697583: Filter out invalid machinery translations (#1923)
  frontend/src/modules/entitydetails/components/Helpers.js
  frontend/src/modules/machinery/components/Machinery.js
  frontend/src/modules/machinery/components/Machinery.test.js
Due: frontend

Bug 1704038: Update newrelic to 6.2.0.156 (#1924)
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Update django-debug-toolbar to 3.2.1 (#1925)
  requirements/dev.in
  requirements/dev.txt
Due: none

Update webpack libs
  package.json
  webpack.config.js
Due: none

Run npm -i --package-lock-only
  package-lock.json
Due: none

Make optional function arguments optional for TypeScript
  frontend/src/core/api/entity.js
  frontend/src/core/editor/components/EditorMainAction.test.js
  frontend/src/core/editor/hooks/useUpdateTranslationStatus.js
  frontend/src/core/term/getMarker.js
  frontend/src/modules/batchactions/actions.js
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.js
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.test.js
  frontend/src/modules/fluentoriginal/components/RichString.js
  frontend/src/modules/genericeditor/components/GenericTranslationForm.test.js
  frontend/src/modules/history/actions.js
  frontend/src/modules/machinery/components/Machinery.js
  frontend/src/modules/search/components/TimeRangeFilter.js
Due: frontend

Use --pretty to get error stats in flow-to-ts
  .github/workflows/frontend.yml
Due: none

Make optional function arguments optional for TypeScript (#1919)
  .github/workflows/frontend.yml
  frontend/src/core/api/entity.js
  frontend/src/core/editor/components/EditorMainAction.test.js
  frontend/src/core/editor/hooks/useUpdateTranslationStatus.js
  frontend/src/core/term/getMarker.js
  frontend/src/modules/batchactions/actions.js
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.js
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.test.js
  frontend/src/modules/fluentoriginal/components/RichString.js
  frontend/src/modules/genericeditor/components/GenericTranslationForm.test.js
  frontend/src/modules/history/actions.js
  frontend/src/modules/machinery/components/Machinery.js
  frontend/src/modules/search/components/TimeRangeFilter.js
Due: frontend

Bug 1704038: Make use of new admin.display decorator
  pontoon/base/admin.py
  pontoon/checks/admin.py
  pontoon/sync/admin.py
Due: none

[ch3895] Sample CCI configuration
  .circleci/config.yml
Due: none

Log clicks on the “Mark all Notifications as read” link in the add-on
  pontoon/contributors/views.py
Due: none

Make CSRF token globally accessible on the base template
  pontoon/base/templates/base.html
  pontoon/contributors/static/js/settings.js
  pontoon/contributors/templates/contributors/profile.html
  pontoon/contributors/templates/contributors/settings.html
  pontoon/localizations/templates/localizations/localization.html
  pontoon/projects/templates/projects/project.html
  pontoon/tags/templates/tags/tag.html
  pontoon/teams/static/js/info.js
  pontoon/teams/static/js/request.js
  pontoon/teams/templates/teams/includes/info.html
  pontoon/teams/templates/teams/team.html
  pontoon/teams/templates/teams/teams.html
Due: none

Log display of the unread notification icon (non-translate pages)
  pontoon/base/static/js/main.js
  pontoon/urls.py
  pontoon/uxactionlog/forms.py
  pontoon/uxactionlog/urls.py
  pontoon/uxactionlog/views.py
Due: backend

Always mark notifications as read when notification menu opens
  pontoon/base/static/js/main.js
Due: none

Unify animation time between translate page and other pages
  frontend/src/core/user/components/UserNotification.css
  frontend/src/core/user/components/UserNotificationsMenu.css
Due: frontend

Log clicks on the notifications icon (non-translate pages)
  pontoon/base/static/js/main.js
Due: none

Log clicks on the See all Notifications link (non-translate pages)
  pontoon/base/static/js/main.js
Due: none

Make prettier
  pontoon/base/static/js/main.js
Due: none

Log clicks on the notifications icon (translate page)
  frontend/src/core/api/user.js
  frontend/src/core/user/actions.js
  frontend/src/core/user/components/UserControls.js
  frontend/src/core/user/components/UserNotificationsMenu.js
Due: frontend

Log display of the unread notification icon (translate page)
  frontend/src/core/user/components/UserNotificationsMenu.js
Due: frontend

Log clicks on the See all Notifications link (translate page)
  frontend/src/core/user/components/UserNotificationsMenu.js
  frontend/src/core/user/components/UserNotificationsMenu.test.js
Due: frontend

Make black
  pontoon/uxactionlog/forms.py
  pontoon/uxactionlog/urls.py
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: frontend/
  non-frontend-js: any of: tests/**.js, pontoon/static/js/
