Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Make format arg of get_google_generic_translation() optional
  pontoon/machinery/utils.py
Due: none

Foundations for HTML support in machinery/pretranslation (#2851)
  Makefile
  pontoon/base/fluent.py
  pontoon/base/tests/test_fluent.py
  pontoon/machinery/utils.py
  pontoon/pretranslation/pretranslate.py
  pontoon/pretranslation/tests/test_pretranslate.py
  pontoon/pretranslation/tests/test_transformer.py
  pontoon/pretranslation/transformer.py
Due: none

Use HTML format & <span translate=no> wrappers on Fluent placeables in Google Translate machinery
  pontoon/machinery/views.py
  translate/src/api/machinery.ts
  translate/src/context/MachineryTranslations.tsx
  translate/src/utils/message/index.ts
  translate/src/utils/message/notranslate.ts
Due: frontend

Use numeric plural category examples during pretranslation
  package-lock.json
  pontoon/package.json
  pontoon/pretranslation/plural_examples.py
  pontoon/pretranslation/tests/test_transformer.py
  pontoon/pretranslation/transformer.py
Due: none

Use HTML format & <span translate=no> wrappers on Fluent placeables in pretranslation
  pontoon/pretranslation/pretranslate.py
  pontoon/pretranslation/tests/test_transformer.py
  pontoon/pretranslation/transformer.py
Due: none

Fix quotes & some space surrounding elements in Google Translate HTML output
  .gitignore
  .prettierignore
  Makefile
  bin/build-locale-quotes.cjs
  bin/post_compile
  package-lock.json
  package.json
  pontoon/machinery/fix_punctuation.py
  pontoon/machinery/tests/test_punctuation.py
  pontoon/machinery/utils.py
  pontoon/test/factories.py
Due: none

Add ability to opt-out of access key localization
  pontoon/base/migrations/0042_locale_accesskey_localization.py
  pontoon/base/models.py
Due: none

Do not pretranslate accesskeys for locales that opt-out of accesskey localization
  pontoon/pretranslation/tests/test_pretranslate.py
  pontoon/pretranslation/transformer.py
Due: none

Update docstring
  pontoon/pretranslation/transformer.py
Due: none

Fix condition
  pontoon/pretranslation/transformer.py
Due: none

Add ability to opt-out of access key localization (#2847)
  pontoon/base/migrations/0042_locale_accesskey_localization.py
  pontoon/base/models.py
  pontoon/pretranslation/tests/test_pretranslate.py
  pontoon/pretranslation/transformer.py
Due: none

Fix #2848 make suggestions setting should be hidden in editor for contributors
  translate/src/modules/editor/components/EditorSettings.tsx
Due: frontend

Fix formatting
  translate/src/modules/editor/components/EditorSettings.tsx
Due: frontend

Update black and test requirements, fix pip-compile warnings
  docker/compile_requirements.sh
  pontoon/base/tests/test_utils.py
  pontoon/checks/tests/test_libraries.py
  pontoon/checks/tests/test_pontoon_db.py
  pontoon/checks/tests/test_translate_toolkit.py
  pontoon/tags/tests/fixtures/site.py
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/lint.in
  requirements/lint.txt
  requirements/test.in
  requirements/test.txt
Due: none

Generate accesskeys (rather than pretranslate)
  pontoon/pretranslation/tests/test_pretranslate.py
  pontoon/pretranslation/transformer.py
  requirements/default.in
  requirements/default.txt
Due: none

Update EditorSettings.test.js to fix test failures and mock useTranslator
  translate/src/modules/editor/components/EditorSettings.test.js
Due: frontend

Removing unused statement
  translate/src/modules/editor/components/EditorSettings.test.js
Due: frontend

Add test for visibility of 'Force Suggestions' based on user role
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/editor/components/EditorSettings.test.js
  translate/src/modules/editor/components/EditorSettings.tsx
Due: frontend

Fix #2306 handle specific Git error during push operation
  pontoon/sync/vcs/repositories.py
Due: none

Reformatting file
  pontoon/sync/vcs/repositories.py
Due: none

Spell access key with a space
  pontoon/base/migrations/0043_alter_locale_accesskey_localization.py
  pontoon/base/models.py
Due: none

Fix verbose name
  pontoon/base/migrations/0043_alter_locale_accesskey_localization.py
  pontoon/base/models.py
Due: none

Spell access key with a space (#2857)
  pontoon/base/migrations/0043_alter_locale_accesskey_localization.py
  pontoon/base/models.py
Due: none

Refactor error handling in git push operation
  pontoon/sync/vcs/repositories.py
Due: none

Handle specific Git error during push operation (#2856)
  pontoon/sync/vcs/repositories.py
Due: none

Hide "Make Suggestions" for Non-Translators (#2854)
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/editor/components/EditorSettings.test.js
  translate/src/modules/editor/components/EditorSettings.tsx
Due: frontend

Fix localization in HistoryTranslation
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/history/components/HistoryTranslation.tsx
Due: frontend

Fix tests & l10n identifier casing
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/history/components/HistoryTranslation.test.js
  translate/src/modules/history/components/HistoryTranslation.tsx
Due: frontend

Satisfy Prettier
  translate/src/modules/history/components/HistoryTranslation.test.js
Due: frontend

Fix #2726 remove custom homepage check in notification verb and models
  pontoon/base/models.py
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: none

Fix #2726 remove custom homepage check in notification verb and models (#2860)
  pontoon/base/models.py
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: none

Update packaged Open Sans font to use WOFF2 format
  pontoon/base/static/css/fonts.css
  pontoon/base/static/fonts/OpenSans-Bold.eot
  pontoon/base/static/fonts/OpenSans-Bold.ttf
  pontoon/base/static/fonts/OpenSans-Bold.woff
  pontoon/base/static/fonts/OpenSans-Bold.woff2
  pontoon/base/static/fonts/OpenSans-Italic.eot
  pontoon/base/static/fonts/OpenSans-Italic.ttf
  pontoon/base/static/fonts/OpenSans-Italic.woff
  pontoon/base/static/fonts/OpenSans-Italic.woff2
  pontoon/base/static/fonts/OpenSans-Light.eot
  pontoon/base/static/fonts/OpenSans-Light.ttf
  pontoon/base/static/fonts/OpenSans-Light.woff
  pontoon/base/static/fonts/OpenSans-Light.woff2
  pontoon/base/static/fonts/OpenSans-Regular.eot
  pontoon/base/static/fonts/OpenSans-Regular.ttf
  pontoon/base/static/fonts/OpenSans-Regular.woff
  pontoon/base/static/fonts/OpenSans-Regular.woff2
  pontoon/base/templates/500.html
Due: none

Drop pontoon/in-context/
  .eslintignore
  .prettierignore
  docs/dev/setup-virtualenv.rst
  pontoon/in_context/README.md
  pontoon/in_context/__init__.py
  pontoon/in_context/static/css/agency.css
  pontoon/in_context/static/css/bootstrap.min.css
  pontoon/in_context/static/img/facebook.png
  pontoon/in_context/static/img/how/1.png
  pontoon/in_context/static/img/how/2.png
  pontoon/in_context/static/img/how/3.png
  pontoon/in_context/static/img/how/4.png
  pontoon/in_context/static/img/map-image.png
  pontoon/in_context/static/img/twitter.png
  pontoon/in_context/static/img/what/fa-comments-o.png
  pontoon/in_context/static/img/what/fa-expand.png
  pontoon/in_context/static/img/what/fa-eye.png
  pontoon/in_context/static/img/youtube.png
  pontoon/in_context/static/js/agency.js
  pontoon/in_context/static/js/bootstrap.min.js
  pontoon/in_context/static/js/cbpAnimatedHeader.min.js
  pontoon/in_context/templates/in_context.html
  pontoon/in_context/urls.py
  pontoon/in_context/views.py
  pontoon/settings/base.py
  pontoon/urls.py
  translate/src/modules/user/components/UserMenu.tsx
Due: backend, frontend

Drop pontoon.js
  .eslintignore
  .prettierignore
  pontoon/base/static/css/pontoon.css
  pontoon/base/static/img/cancel.png
  pontoon/base/static/img/edit.png
  pontoon/base/static/img/logo.png
  pontoon/base/static/img/logo32.png
  pontoon/base/static/img/save.png
  pontoon/base/templates/js/pontoon.js
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

Drop subpages
  pontoon/administration/forms.py
  pontoon/administration/static/js/admin_project.js
  pontoon/administration/templates/admin_project.html
  pontoon/administration/tests/test_views.py
  pontoon/administration/views.py
  pontoon/base/admin.py
  pontoon/base/migrations/0044_delete_subpage.py
  pontoon/base/models.py
  pontoon/base/tests/models/test_entity.py
  pontoon/base/tests/models/test_locale.py
  pontoon/base/utils.py
  pontoon/localizations/views.py
  pontoon/test/factories.py
Due: none

Drop remaining mentions of in-context localization
  app.json
  package.json
  pontoon/homepage/templates/homepage_content.html
Due: none

Drop project links, url & width fields
  pontoon/administration/forms.py
  pontoon/administration/templates/admin_project.html
  pontoon/administration/tests/test_views.py
  pontoon/base/admin.py
  pontoon/base/migrations/0045_drop_project_links_url_width.py
  pontoon/base/models.py
  pontoon/base/tests/__init__.py
  pontoon/test/factories.py
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: tag-admin/src/**.js, pontoon/static/js/
