Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

fixed rander issue for insights and date formatting
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_tab.js
Due: none

linting fixes
  pontoon/insights/static/js/insights.js
Due: none

Refactored HTML Legend logic
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_tab.js
Due: none

linting fixes
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_tab.js
Due: none

fixed display bug for insights charts
  pontoon/insights/static/js/insights.js
Due: none

Changed moment.js to date-fns.js
  pontoon/base/static/js/lib/chartjs-adapter-date-fns.bundle.min.js
  pontoon/base/static/js/lib/chartjs-adapter-moment.min.js
  pontoon/base/static/js/lib/moment.min.js
  pontoon/insights/static/js/insights_tab.js
  pontoon/settings/base.py
Due: none

Fixed tooltip import for date-fns and alt-click legned bug
  pontoon/contributors/static/js/profile.js
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Improved line visibility on insights chart, standardized thousands seperator for all locales
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Implemented review comments, refactored labelColor for tooltips
  pontoon/contributors/static/js/profile.js
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Update LLM translation context
  translate/src/context/TranslationContext.tsx
  translate/src/modules/machinery/components/MachineryTranslation.tsx
  translate/src/modules/translationform/utils/editFieldShortcuts.ts
Due: frontend

Add equal weight to the No, thanks button on the Email consent page
  pontoon/messaging/static/css/email_consent.css
Due: none

Implement email unsubscribe page (#3237)
  pontoon/base/migrations/0063_userprofile_unique_id.py
  pontoon/base/migrations/0064_populate_unique_id.py
  pontoon/base/models/user_profile.py
  pontoon/messaging/static/css/unsubscribe.css
  pontoon/messaging/templates/messaging/subscribe.html
  pontoon/messaging/templates/messaging/unsubscribe.html
  pontoon/messaging/urls.py
  pontoon/messaging/views.py
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

Refactored logic for changing tooltip label colors
  pontoon/contributors/static/js/profile.js
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Refactored htmlLegendPlugin logic for better code readability
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Simplified anonymous function calls for setLabelColor
  pontoon/contributors/static/js/profile.js
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_tab.js
Due: none

Upgraded Chart.js to version 4.4.2 (#3233)
  pontoon/base/static/js/lib/Chart.bundle.js
  pontoon/base/static/js/lib/chart.umd.min.js
  pontoon/base/static/js/lib/chartjs-adapter-date-fns.bundle.min.js
  pontoon/contributors/static/js/profile.js
  pontoon/insights/static/js/insights.js
  pontoon/insights/static/js/insights_charts.js
  pontoon/insights/static/js/insights_tab.js
  pontoon/settings/base.py
Due: none

Add equal weight to the No, thanks button on the Email consent page (#3242)
  pontoon/messaging/static/css/email_consent.css
Due: none

Upgraded @codemirror dependencies to latest versions
  package-lock.json
  translate/package.json
Due: frontend

Upgraded @codemirror dependencies to latest versions (#3250)
  package-lock.json
  translate/package.json
Due: frontend

Add ruff to CI
  .github/workflows/py-lint.yml
  Makefile
  requirements/lint.in
  requirements/lint.txt
Due: none

Fix ruff errors
  pontoon/base/management/commands/warmup_cache.py
  pontoon/base/migrations/0040_remove_changed_entity_locale_entries_for_repository_projects.py
  pontoon/insights/migrations/0008_time_to_review_suggestions_data.py
  pontoon/insights/migrations/0012_time_to_review_pretranslations_data.py
  pontoon/insights/migrations/0014_pretranslation_quality_data.py
  pontoon/messaging/tests/test_views.py
  pontoon/sync/formats/json_keyvalue.py
  pontoon/translate/views.py
Due: none

Remove black, pyupgrade, flake8
  .flake8
  .github/workflows/py-lint.yml
  CONTRIBUTING.rst
  Makefile
  requirements/lint.in
  requirements/lint.txt
  ruff.toml
Due: none

Use isort when formatting Python code
  ruff.toml
Due: none

Update isort config to create sections
  ruff.toml
Due: none

Fixed spacing bug after mentions in comments
  translate/src/modules/comments/components/AddComment.tsx
Due: frontend

fixed edge case bug for mentions in middle of comment
  translate/src/modules/comments/components/AddComment.tsx
Due: frontend

Fixed spacing bug after mentions in comments (#3252)
  translate/src/modules/comments/components/AddComment.tsx
Due: frontend

Added capability to mention users by username
  pontoon/base/views.py
  translate/src/api/user.ts
  translate/src/modules/comments/components/AddComment.tsx
Due: frontend

Prefetched user profiles to massively improve performance
  pontoon/base/views.py
Due: none

Added capability to mention users by username (#3253)
  pontoon/base/views.py
  translate/src/api/user.ts
  translate/src/modules/comments/components/AddComment.tsx
Due: frontend

Acheived functionality for incrementing month counter
  pontoon/contributors/static/js/profile.js
  pontoon/contributors/templates/contributors/profile.html
  pontoon/contributors/utils.py
  pontoon/contributors/views.py
Due: none

Changed contribution timeline data to sync with button press
  pontoon/contributors/utils.py
Due: none

Fixed stlying for timeline title and show more button
  pontoon/contributors/static/css/profile.css
  pontoon/contributors/static/js/profile.js
  pontoon/contributors/templates/contributors/profile.html
  pontoon/contributors/utils.py
  pontoon/contributors/views.py
Due: none

Initial styling for show more activity button
  pontoon/contributors/static/css/profile.css
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: tag-admin/src/**.js, pontoon/static/js/
