Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Fix bug 1688174: Unify prettier configuration
  pontoon/.prettierrc.json
Due: none

No need to ignore so many files
  .prettierignore
Due: none

Reformat JS files in pontoon folder with new configuration
  pontoon/administration/static/js/admin_project.js
  pontoon/base/static/js/double_list_selector.js
  pontoon/base/static/js/main.js
  pontoon/base/static/js/progress-chart.js
  pontoon/base/static/js/table.js
  pontoon/base/static/js/tabs.js
  pontoon/contributors/static/js/contributor.js
  pontoon/contributors/static/js/notifications.js
  pontoon/homepage/static/js/homepage.js
  pontoon/insights/static/js/insights.js
  pontoon/machinery/static/js/machinery.js
  pontoon/static/js/tags/admin/index.js
  pontoon/static/js/utils/ajax.js
  pontoon/static/js/utils/data.js
  pontoon/static/js/widgets/tables/checkbox.js
  pontoon/teams/static/js/bugzilla.js
  pontoon/teams/static/js/multiple_team_selector.js
  pontoon/teams/static/js/permissions.js
  pontoon/teams/static/js/request.js
Due: non-frontend-js

Remove redundant (as per https://prettier.io/docs/en/configuration.html) config file
  .prettierrc.json
Due: none

Restore pontoon.js in prettierignore
  .prettierignore
Due: none

Prevent VSCode to trigger prettier if "Format On Save" enabled
  .prettierignore
Due: none

This one was added back by mistake
  .prettierignore
Due: none

Fix bug 1688174: Unify prettier configuration (#1822)
  .prettierignore
  .prettierrc.json
  pontoon/.prettierrc.json
  pontoon/administration/static/js/admin_project.js
  pontoon/base/static/js/double_list_selector.js
  pontoon/base/static/js/main.js
  pontoon/base/static/js/progress-chart.js
  pontoon/base/static/js/table.js
  pontoon/base/static/js/tabs.js
  pontoon/contributors/static/js/contributor.js
  pontoon/contributors/static/js/notifications.js
  pontoon/homepage/static/js/homepage.js
  pontoon/insights/static/js/insights.js
  pontoon/machinery/static/js/machinery.js
  pontoon/static/js/tags/admin/index.js
  pontoon/static/js/utils/ajax.js
  pontoon/static/js/utils/data.js
  pontoon/static/js/widgets/tables/checkbox.js
  pontoon/teams/static/js/bugzilla.js
  pontoon/teams/static/js/multiple_team_selector.js
  pontoon/teams/static/js/permissions.js
  pontoon/teams/static/js/request.js
Due: non-frontend-js

styles fix
  frontend/src/core/comments/components/CommentsList.css
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

fixed spacing
  frontend/src/core/comments/components/CommentsList.css
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

small fix"
  frontend/src/core/comments/components/Comment.css
Due: frontend

Pinned commemts on top of the panel
  frontend/src/core/comments/components/CommentsList.css
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

Fixed styling for comments
  frontend/src/core/comments/components/Comment.css
  frontend/src/core/comments/components/CommentsList.css
Due: frontend

changed pinned commeents in metadata
  frontend/src/modules/entitydetails/components/Metadata.js
Due: frontend

Full-width delimiter, neutral color (since we only have one, unlike in Locales)
  frontend/src/core/comments/components/CommentsList.css
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

More distinguished pinned comment presentation
  frontend/public/static/locale/en-US/translate.ftl
  frontend/src/core/comments/components/Comment.css
  frontend/src/core/comments/components/Comment.js
Due: frontend

changed to suggested code
  frontend/src/core/comments/components/Comment.css
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

Prevent long pinned comments to break into new line in Metadata section
  frontend/src/modules/entitydetails/components/Metadata.css
Due: frontend

Prevent adding too much padding if no pinned comments present (including translation comments)
  frontend/src/core/comments/components/Comment.css
  frontend/src/core/comments/components/CommentsList.css
Due: frontend

fixing mistakes
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

changed the Unpinned comments to allComments
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

Add titles to comment sections
  frontend/public/static/locale/en-US/translate.ftl
  frontend/src/core/comments/components/CommentsList.css
  frontend/src/core/comments/components/CommentsList.js
Due: frontend

Fix Add Comment input height to match submit button
  frontend/src/core/comments/components/AddComment.css
Due: frontend

Remove prettier commit from bug 1688174 from git blame
  .git-blame-ignore-revs
Due: none

Remove prettier commit from bug 1688174 from git blame (#1824)
  .git-blame-ignore-revs
Due: none

Fix Add Comment input height to match submit button (#1823)
  frontend/src/core/comments/components/AddComment.css
Due: frontend

Bug 1682033: Improve visibility of pinned comments (#1815)
  frontend/public/static/locale/en-US/translate.ftl
  frontend/src/core/comments/components/Comment.css
  frontend/src/core/comments/components/Comment.js
  frontend/src/core/comments/components/CommentsList.css
  frontend/src/core/comments/components/CommentsList.js
  frontend/src/modules/entitydetails/components/Metadata.css
  frontend/src/modules/entitydetails/components/Metadata.js
Due: frontend

Fix bug 1688395: Do not break on 500 response from Microsoft Terminology
  pontoon/machinery/views.py
Due: none

Catch Server Errors in all Machinery services
  pontoon/machinery/utils.py
  pontoon/machinery/views.py
Due: none

Fix bug 1688395: Do not break on 500 response from Microsoft Terminology (#1825)
  pontoon/machinery/utils.py
  pontoon/machinery/views.py
Due: none

Fix bug 1681688 - Correctly update generic editor content when the editor is reset.
  frontend/src/core/editor/hooks/useLoadTranslation.js
  frontend/src/core/editor/index.js
  frontend/src/core/plural/components/PluralSelector.js
  frontend/src/core/plural/components/PluralSelector.test.js
  frontend/src/modules/genericeditor/components/GenericEditor.js
  frontend/src/modules/genericeditor/components/GenericEditor.test.js
Due: frontend

Woops.
  frontend/src/modules/genericeditor/components/GenericEditor.test.js
Due: frontend

Fix bug 1681688 - Correctly update generic editor content when the editor is reset. (#1826)
  frontend/src/core/editor/hooks/useLoadTranslation.js
  frontend/src/core/editor/index.js
  frontend/src/core/plural/components/PluralSelector.js
  frontend/src/core/plural/components/PluralSelector.test.js
  frontend/src/modules/genericeditor/components/GenericEditor.js
  frontend/src/modules/genericeditor/components/GenericEditor.test.js
Due: frontend

added in the function scollIntoView
  frontend/src/modules/entitieslist/components/EntitiesList.js
Due: frontend

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: frontend/
  non-frontend-js: any of: tests/**.js, pontoon/static/js/
