Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment:
  layout: condensed_header
  behavior: default # post new comment, edit if it already exists
  require_changes: coverage_drop AND uncovered_patch
  hide_project_coverage: false # show coverage only for the diff

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - translate/
    carryforward: true

  non-frontend-js:
    paths:
      - pontoon/static/js/
    carryforward: true

Fix testing bug and refactor code
  translate/src/modules/entities/components/StringNotFound.test.jsx
  translate/src/modules/entities/components/StringNotFound.tsx
Due: frontend

docs: fix pretranslation guidelines link
  documentation/docs/localizer/teams-projects.md
Due: none

docs: fix link to pretranslation guidelines
  documentation/docs/localizer/teams-projects.md
Due: none

Fix #4458: Link pretranslation guidelines
  documentation/docs/localizer/teams-projects.md
Due: none

Docs: Fix pretranslation guidelines link (#4459)
  documentation/docs/localizer/teams-projects.md
Due: none

Fix placeable insertion after a translation is rejected
  translate/src/modules/translationform/components/EditField.tsx
  translate/src/modules/translationform/components/TranslationForm-multiple.test.jsx
Due: frontend

Send Google Translate API key in a header
  pontoon/machinery/tests/test_views.py
  pontoon/machinery/utils.py
Due: none

Unify vertical and horizontal space between accesskey candidate buttons (#4457)
  translate/src/modules/translationform/components/TranslationForm.css
Due: frontend

Remove extra request and use project state
  translate/src/api/other-locales.test.ts
  translate/src/api/other-locales.ts
  translate/src/api/project.ts
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/project/actions.ts
  translate/src/modules/project/reducer.ts
Due: frontend

Send Google Translate API key in a header (#4466)
  pontoon/machinery/tests/test_views.py
  pontoon/machinery/utils.py
Due: none

Fix batchactions test and remove calls to fetchAllLocales
  translate/src/modules/batchactions/components/BatchActions.test.jsx
Due: frontend

Label plural catchall with the locale's category
  pontoon/base/migrations/0131_fix_gettext_plural_catchall.py
Due: none

Address review comments
  translate/src/modules/translationform/components/EditField.tsx
Due: frontend

Fix placeable insertion after a translation is rejected (#4465)
  translate/src/modules/translationform/components/EditField.tsx
  translate/src/modules/translationform/components/TranslationForm-multiple.test.jsx
Due: frontend

Address review comments
  pontoon/base/migrations/0131_fix_gettext_plural_catchall.py
Due: none

Restore iterator()
  pontoon/base/migrations/0131_fix_gettext_plural_catchall.py
Due: none

Label plural catchall with the locale's category (#4467)
  pontoon/base/migrations/0131_fix_gettext_plural_catchall.py
Due: none

Stop reintroducing the wrong plural catchall
  pontoon/batch/actions.py
  pontoon/batch/utils.py
  pontoon/pretranslation/tasks.py
  pontoon/translations/tests/test_utils.py
  pontoon/translations/utils.py
Due: none

Fix migrations number
  pontoon/base/migrations/0132_normalize_locale_script.py
  pontoon/base/migrations/0133_alter_locale_script.py
Due: none

Pass the catchall name, not the category list
  pontoon/base/models/locale.py
  pontoon/base/tests/models/test_locale.py
  pontoon/batch/actions.py
  pontoon/batch/utils.py
  pontoon/pretranslation/tasks.py
  pontoon/translations/tests/test_utils.py
  pontoon/translations/utils.py
Due: none

Add custom copyState to editor StreamParser implementations (#4449)
  translate/src/modules/translationform/utils/editFieldModes.test.ts
  translate/src/modules/translationform/utils/editFieldModes.ts
Due: frontend

Validate that cldr_plurals ends in a catchall
  pontoon/base/models/locale.py
  pontoon/base/tests/models/test_locale.py
  pontoon/translations/utils.py
Due: none

Stop reintroducing the wrong plural catchall (#4468)
  pontoon/base/models/locale.py
  pontoon/base/tests/models/test_locale.py
  pontoon/batch/actions.py
  pontoon/batch/utils.py
  pontoon/pretranslation/tasks.py
  pontoon/translations/tests/test_utils.py
  pontoon/translations/utils.py
Due: none

Refactor filteredOut and log enum
  translate/src/modules/entities/components/StringNotFound.test.jsx
  translate/src/modules/entities/components/StringNotFound.tsx
Due: frontend

Use all Fluent variants for terminology lookup
  pontoon/base/simple_preview.py
  pontoon/base/tests/test_simple_preview.py
  pontoon/terminology/tests/test_views.py
  pontoon/terminology/views.py
  translate/src/api/terminology.ts
  translate/src/modules/entitydetails/components/EntityDetails.test.jsx
  translate/src/modules/entitydetails/components/EntityDetails.tsx
  translate/src/modules/entitydetails/components/Metadata.test.jsx
  translate/src/modules/machinery/components/MachineryTranslationSource.test.jsx
  translate/src/modules/machinery/components/source/GoogleTranslation.test.jsx
  translate/src/modules/terms/actions.ts
  translate/src/modules/terms/reducer.ts
Due: frontend

Pin monthly activity test to a date
  pontoon/messaging/tests/test_emails.py
Due: none

Pin monthly activity test to a date (#4471)
  pontoon/messaging/tests/test_emails.py
Due: none

Always include source attributes & declarations in Editor base value (#4427)
  translate/src/context/Editor.test.jsx
  translate/src/context/Editor.tsx
Due: frontend

#2784 Find plural examples for 0 and millions
  translate/src/hooks/usePluralExamples.test.js
  translate/src/hooks/usePluralExamples.ts
Due: frontend

Address review comments
  pontoon/base/simple_preview.py
  pontoon/base/tests/test_simple_preview.py
  pontoon/terminology/tests/test_utils.py
  pontoon/terminology/tests/test_views.py
  pontoon/terminology/utils.py
  pontoon/terminology/views.py
  translate/src/modules/entitydetails/components/EntityDetails.tsx
  translate/src/modules/entitydetails/components/Metadata.test.jsx
  translate/src/modules/terms/actions.ts
  translate/src/modules/terms/reducer.ts
Due: frontend

Move and rename message_patterns()
  pontoon/base/simple_preview.py
  pontoon/terminology/utils.py
Due: none

Use ISO 15924 values for locale script (#4436)
  documentation/docs/admin/adding-new-locale.md
  pontoon/api/serializers.py
  pontoon/api/tests/test_views.py
  pontoon/base/admin.py
  pontoon/base/migrations/0132_normalize_locale_script.py
  pontoon/base/migrations/0133_alter_locale_script.py
  pontoon/base/models/locale.py
  pontoon/base/static/css/style.css
  pontoon/teams/templates/teams/team.html
  translate/src/index.css
  translate/src/modules/entitieslist/components/Entity.css
  translate/src/modules/translationform/components/TranslationForm-multiple.test.jsx
  translate/src/modules/translationform/components/TranslationForm-single.test.jsx
  translate/src/modules/translationform/components/TranslationForm.css
Due: frontend

Use all Fluent variants for terminology lookup (#4469)
  pontoon/terminology/tests/test_utils.py
  pontoon/terminology/tests/test_views.py
  pontoon/terminology/utils.py
  pontoon/terminology/views.py
  translate/src/api/terminology.ts
  translate/src/modules/entitydetails/components/EntityDetails.test.jsx
  translate/src/modules/entitydetails/components/EntityDetails.tsx
  translate/src/modules/entitydetails/components/Metadata.test.jsx
  translate/src/modules/machinery/components/MachineryTranslationSource.test.jsx
  translate/src/modules/machinery/components/source/GoogleTranslation.test.jsx
  translate/src/modules/terms/actions.ts
  translate/src/modules/terms/reducer.ts
Due: frontend

Fix project locale selection and reset stale locale
  translate/src/api/other-locales.ts
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/project/actions.ts
  translate/src/modules/project/reducer.ts
Due: frontend

Ignore many plural rule for cs, lt, sk
  translate/src/utils/message/getEmptyMessage.test.js
  translate/src/utils/message/getPluralCategories.ts
Due: frontend

decimals > fractions
  translate/src/utils/message/getPluralCategories.ts
Due: frontend

Translate: Log StringNotFound UX events for experimentation (#4454)
  translate/src/modules/entities/components/StringNotFound.test.jsx
  translate/src/modules/entities/components/StringNotFound.tsx
Due: frontend

Ignore many plural rule for cs, lt, sk (#4475)
  translate/src/utils/message/getEmptyMessage.test.js
  translate/src/utils/message/getPluralCategories.ts
Due: frontend

Fix project locale selection and reset stale locale
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/project/actions.ts
  translate/src/modules/project/reducer.ts
Due: frontend

Remove the local signup route
  pontoon/allauth_urls.py
  pontoon/tests/__init__.py
  pontoon/tests/test_allauth_urls.py
Due: backend
