Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Address review comments
  pontoon/tests/test_allauth_urls.py
Due: none

Remove the local signup route (#4482)
  pontoon/allauth_urls.py
  pontoon/tests/__init__.py
  pontoon/tests/test_allauth_urls.py
Due: backend

Drop HEROKU_DEMO setting
  pontoon/settings/base.py
Due: none

Drop Heroku reference from translate README.md
  translate/README.md
Due: frontend

Update Deployment / Developer Setup in the README.md
  README.md
Due: none

Reset project state for all projects and guard against stale updates
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/project/reducer.ts
Due: frontend

Keep repo file operations inside the checkout
  pontoon/sync/core/checkout.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/tests/test_checkouts.py
  pontoon/sync/tests/test_translations_to_repo.py
Due: none

No point in using HTML entities in markdown
  README.md
Due: none

Update pontoon/sync/core/checkout.py
  pontoon/sync/core/checkout.py
Due: none

Remove Heroku-specific code and references (#4485)
  README.md
  pontoon/settings/base.py
  translate/README.md
Due: frontend

Fix imports
  pontoon/sync/core/checkout.py
Due: none

Show only locales available in current project in Copy from another locale batch action (#4435)
  translate/src/api/other-locales.test.ts
  translate/src/api/project.ts
  translate/src/modules/batchactions/components/BatchActions.test.jsx
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/project/actions.ts
  translate/src/modules/project/reducer.ts
Due: frontend

Unlink mailto for parity with bleach
  pontoon/base/templatetags/helpers.py
  pontoon/base/tests/test_helpers.py
Due: none

Replace bleach with justhtml
  pontoon/base/forms.py
  pontoon/base/templatetags/helpers.py
  pontoon/base/tests/test_helpers.py
  pontoon/base/tests/test_utils.py
  pontoon/base/tests/views/test_comment.py
  pontoon/base/utils.py
  pontoon/settings/base.py
  pontoon/teams/views.py
  requirements/base.in
  requirements/dev.txt
  requirements/prod.txt
  translate/src/modules/projectinfo/components/ProjectInfo.tsx
Due: frontend

Remove code only needed for the now deprectated Heroku button
  app.json
  bin/heroku_postdeploy
  pontoon/base/management/commands/heroku_deploy_setup.py
Due: none

Remove code only needed for the now deprectated Heroku button (#4490)
  app.json
  bin/heroku_postdeploy
  pontoon/base/management/commands/heroku_deploy_setup.py
Due: none

Replace Bleach with JustHTML (#4489)
  pontoon/base/forms.py
  pontoon/base/templatetags/helpers.py
  pontoon/base/tests/test_helpers.py
  pontoon/base/tests/test_utils.py
  pontoon/base/tests/views/test_comment.py
  pontoon/base/utils.py
  pontoon/settings/base.py
  pontoon/teams/views.py
  requirements/base.in
  requirements/dev.txt
  requirements/prod.txt
  translate/src/modules/projectinfo/components/ProjectInfo.tsx
Due: frontend

Fix CSP configuration for django-csp 4
  pontoon/base/tests/test_middleware.py
  pontoon/settings/base.py
Due: none

Keep repo file operations inside the checkout (#4487)
  pontoon/sync/core/checkout.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/tests/test_checkouts.py
  pontoon/sync/tests/test_translations_to_repo.py
Due: none

Don't reject strings when using partial files in Upload translations
  pontoon/base/tests/views/test_upload.py
  pontoon/base/views.py
  pontoon/sync/core/paths.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/utils.py
  translate/src/context/Notification.tsx
  translate/src/hooks/useNotifications.ts
  translate/src/modules/notification/components/NotificationPanel.test.jsx
  translate/src/modules/notification/components/NotificationPanel.tsx
Due: frontend

Add support for https:// SITE_URLs in CSP tests
  pontoon/base/tests/test_middleware.py
Due: none

Fix CSP configuration for django-csp 4 (#4493)
  pontoon/base/tests/test_middleware.py
  pontoon/settings/base.py
Due: none

Fix term popup not showing for uppercase terms
  translate/src/modules/originalstring/components/OriginalString.tsx
Due: frontend

Update Time Range chart colors when the theme changes
  translate/src/hooks/useTheme.test.js
  translate/src/hooks/useTheme.ts
  translate/src/modules/search/components/TimeRangeFilter.tsx
  translate/src/modules/search/components/chart-options.test.js
  translate/src/modules/search/components/chart-options.ts
Due: frontend

Apply prettier formatting
  translate/src/modules/originalstring/components/OriginalString.tsx
Due: frontend

Fix term popup not showing for uppercase terms (#4494)
  translate/src/modules/originalstring/components/OriginalString.tsx
Due: frontend

Update Time Range chart colors when the theme changes (#4496)
  translate/src/hooks/useTheme.test.js
  translate/src/hooks/useTheme.ts
  translate/src/modules/search/components/TimeRangeFilter.tsx
  translate/src/modules/search/components/chart-options.test.js
  translate/src/modules/search/components/chart-options.ts
Due: frontend

Fix placeholder warnings not persisted to DB, add log in utils, add regression test
  pontoon/checks/__init__.py
  pontoon/checks/libraries/custom.py
  pontoon/checks/tests/test_custom.py
  pontoon/checks/tests/test_libraries.py
  pontoon/checks/tests/test_models.py
  pontoon/checks/utils.py
  translate/src/api/translation.ts
Due: frontend

add regex testing for non-alpha characters
  translate/src/modules/placeable/components/Highlight.test.jsx
  translate/src/modules/placeable/components/Highlight.tsx
Due: frontend

Update data-theme when the user picks a theme
  translate/src/modules/user/components/UserMenu.test.jsx
  translate/src/modules/user/components/UserMenu.tsx
Due: frontend

Address review comments
  pontoon/base/tests/views/test_upload.py
  pontoon/base/views.py
  pontoon/sync/utils.py
Due: none

Fixes #2790
  pontoon/batch/actions.py
  pontoon/batch/forms.py
  pontoon/batch/tests/test_utils.py
  pontoon/batch/views.py
  translate/public/locale/en-US/translate.ftl
  translate/src/api/entity.ts
  translate/src/modules/batchactions/actions.ts
  translate/src/modules/batchactions/components/BatchActions.tsx
  translate/src/modules/batchactions/components/Pretranslate.tsx
  translate/src/modules/editor/components/EditorMenu.tsx
Due: frontend

Update pontoon/base/views.py
  pontoon/base/views.py
Due: none

Fix tests
  pontoon/base/tests/views/test_upload.py
Due: none

Restrict pretranslation to the pretranslators group Fixes #2790
  pontoon/base/user_utils.py
  pontoon/batch/tests/test_views.py
  pontoon/batch/views.py
  pontoon/translate/views.py
  translate/public/translate.html
  translate/src/modules/batchactions/components/BatchActions.tsx
Due: frontend

Expose API to upload translations
  documentation/docs/dev/deployment.md
  pontoon/api/README.md
  pontoon/api/authentication.py
  pontoon/api/serializers.py
  pontoon/api/tests/test_views.py
  pontoon/api/throttling.py
  pontoon/api/urls.py
  pontoon/api/views.py
  pontoon/base/forms.py
  pontoon/base/tests/views/test_upload.py
  pontoon/settings/base.py
  pontoon/sync/utils.py
Due: none

Rename slug -> project
  pontoon/api/README.md
  pontoon/api/serializers.py
  pontoon/api/tests/test_views.py
  pontoon/api/views.py
  pontoon/base/forms.py
Due: none

Update to moz-l10n 0.14.2
  package-lock.json
  requirements/base.in
  requirements/dev.txt
  requirements/prod.txt
  translate/package.json
Due: frontend

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: pontoon/static/js/
