Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

Add traffic throttling middleware
  pontoon/base/middleware.py
  pontoon/base/tests/test_middleware.py
  pontoon/settings/base.py
Due: none

Addressed second round of review comments
  pontoon/base/models/user.py
  pontoon/base/tests/models/test_user.py
  pontoon/base/views.py
  translate/public/locale/en-US/translate.ftl
  translate/src/modules/comments/components/Comment.css
  translate/src/modules/comments/components/Comment.tsx
  translate/src/modules/history/components/HistoryTranslation.css
  translate/src/modules/user/components/UserAvatar.tsx
Due: frontend

Reduce the number of DB queries when retrieving translation history
  pontoon/base/views.py
Due: none

Remove line added by mistake
  pontoon/base/views.py
Due: none

Also prefetch user objects
  pontoon/base/views.py
Due: none

Remove pontoon/settings/test.py
  pontoon/settings/test.py
Due: none

Various fixes and improvements
  pontoon/base/middleware.py
  pontoon/base/tests/test_middleware.py
  pontoon/base/utils.py
  pontoon/settings/base.py
Due: none

Add comment to THROTTLE_ENABLED
  docker-compose.yml
  pontoon/settings/base.py
Due: none

Remove pontoon/settings/test.py (#3405)
  pontoon/settings/test.py
Due: none

Reduce the number of DB queries when retrieving translation history (#3404)
  pontoon/base/views.py
Due: none

Restore changes to docker-compose.yml
  docker-compose.yml
Due: none

Log blocked IPs
  pontoon/base/middleware.py
Due: none

Support file renames for git repos
  pontoon/sync/core/checkout.py
  pontoon/sync/core/entities.py
  pontoon/sync/repositories/git.py
  pontoon/sync/repositories/hg.py
  pontoon/sync/repositories/svn.py
  pontoon/sync/tests/test_checkouts.py
  pontoon/sync/tests/test_e2e.py
  pontoon/sync/tests/test_entities.py
  pontoon/sync/tests/test_repositories.py
Due: none

Added third round of review comments
  pontoon/base/models/user.py
  pontoon/base/tests/models/test_user.py
  pontoon/base/views.py
  translate/src/hooks/useLocaleRole.ts
  translate/src/modules/comments/components/AddComment.test.js
  translate/src/modules/comments/components/AddComment.tsx
  translate/src/modules/comments/components/Comment.tsx
  translate/src/modules/comments/components/CommentsList.test.js
  translate/src/modules/comments/components/CommentsList.tsx
  translate/src/modules/history/components/History.test.js
  translate/src/modules/history/components/HistoryTranslation.css
  translate/src/modules/history/components/HistoryTranslation.tsx
  translate/src/modules/teamcomments/components/TeamComments.test.js
  translate/src/modules/user/components/UserAvatar.css
  translate/src/modules/user/components/UserAvatar.tsx
  translate/src/modules/user/reducer.ts
Due: frontend

Add static error page
  pontoon/base/middleware.py
  pontoon/base/templates/429.html
  pontoon/base/tests/test_middleware.py
  pontoon/urls.py
Due: backend

Reorder middleware to make render() work
  pontoon/settings/base.py
Due: none

Set default THROTTLE_MAX_COUNT value to 300
  pontoon/settings/base.py
Due: none

Document the new feature
  docs/admin/deployment.rst
  docs/admin/maintenance.rst
Due: none

Addressed fourth round of review comments
  pontoon/base/models/comment.py
  pontoon/base/models/user.py
  pontoon/base/tests/models/test_user.py
  pontoon/base/views.py
  translate/src/api/comment.ts
  translate/src/api/translation.ts
  translate/src/api/user.ts
  translate/src/hooks/useUserStatus.test.js
  translate/src/hooks/useUserStatus.ts
  translate/src/modules/comments/components/AddComment.tsx
  translate/src/modules/comments/components/Comment.tsx
  translate/src/modules/comments/components/CommentsList.tsx
  translate/src/modules/history/components/HistoryTranslation.tsx
  translate/src/modules/user/components/UserAvatar.css
  translate/src/modules/user/components/UserAvatar.tsx
Due: frontend

Removed line space
  translate/src/modules/comments/components/CommentsList.tsx
Due: frontend

Add new Pontoon logo
  pontoon/base/static/img/apple-touch-icon.png
  pontoon/base/static/img/favicon.ico
  pontoon/base/static/img/logo.svg
  pontoon/base/templates/500.html
  pontoon/base/templates/base.html
  pontoon/base/templates/django/base.html
  pontoon/base/templates/header.html
  translate/public/translate.html
  translate/src/modules/navbar/components/Navigation.tsx
Due: frontend

Rename throttle_key to observed_key
  pontoon/base/middleware.py
Due: none

Include Retry-After header
  pontoon/base/middleware.py
Due: none

Add new Pontoon logo (#3407)
  pontoon/base/static/img/apple-touch-icon.png
  pontoon/base/static/img/favicon.ico
  pontoon/base/static/img/logo.svg
  pontoon/base/templates/500.html
  pontoon/base/templates/base.html
  pontoon/base/templates/django/base.html
  pontoon/base/templates/header.html
  translate/public/translate.html
  translate/src/modules/navbar/components/Navigation.tsx
Due: frontend

Fix issues discovered by manual testing
  pontoon/base/models/translated_resource.py
  pontoon/pretranslation/tasks.py
  pontoon/sync/core/entities.py
  pontoon/sync/core/paths.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/repositories/git.py
  pontoon/sync/tasks.py
  pontoon/sync/tests/test_e2e.py
  pontoon/sync/tests/test_translations_from_repo.py
Due: none

Improve sync logging
  pontoon/base/models/translated_resource.py
  pontoon/sync/core/checkout.py
  pontoon/sync/core/entities.py
  pontoon/sync/core/paths.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/core/translations_to_repo.py
  pontoon/sync/models.py
  pontoon/sync/repositories/git.py
  pontoon/sync/repositories/hg.py
Due: none

More sync fixes & logging
  pontoon/sync/core/checkout.py
  pontoon/sync/core/entities.py
  pontoon/sync/core/translations_from_repo.py
  pontoon/sync/repositories/git.py
Due: none

Update moz.l10n dependency
  requirements/default.in
  requirements/default.txt
Due: none

Oops, fix file upload handling
  pontoon/sync/core/translations_from_repo.py
Due: none

Update: added css files and logic to launch account_disabled page
  pontoon/allauth_urls.py
  pontoon/contributors/static/css/account_disabled.css
  pontoon/contributors/templates/contributors/account_disabled.html
  pontoon/contributors/views.py
  pontoon/settings/base.py
Due: backend

Add role banner under user avatar (#3400)
  pontoon/base/models/comment.py
  pontoon/base/models/user.py
  pontoon/base/tests/models/test_user.py
  pontoon/base/views.py
  translate/src/api/comment.ts
  translate/src/api/translation.ts
  translate/src/api/user.ts
  translate/src/hooks/useUserStatus.test.js
  translate/src/hooks/useUserStatus.ts
  translate/src/modules/comments/components/AddComment.test.js
  translate/src/modules/comments/components/AddComment.tsx
  translate/src/modules/comments/components/Comment.tsx
  translate/src/modules/comments/components/CommentsList.test.js
  translate/src/modules/history/components/History.test.js
  translate/src/modules/history/components/HistoryTranslation.css
  translate/src/modules/history/components/HistoryTranslation.tsx
  translate/src/modules/teamcomments/components/TeamComments.test.js
  translate/src/modules/user/components/UserAvatar.css
  translate/src/modules/user/components/UserAvatar.tsx
  translate/src/modules/user/reducer.ts
Due: frontend

Add traffic throttling middleware (#3402)
  docs/admin/deployment.rst
  docs/admin/maintenance.rst
  pontoon/base/middleware.py
  pontoon/base/templates/429.html
  pontoon/base/tests/test_middleware.py
  pontoon/base/utils.py
  pontoon/settings/base.py
  pontoon/urls.py
Due: backend

Fix user status in translation comments
  pontoon/base/models/comment.py
Due: none

Add tests for the comment model
  pontoon/base/tests/models/test_comment.py
  pontoon/test/factories.py
Due: none

Fix ruff
  pontoon/base/tests/models/test_comment.py
Due: none

Fix user status in translation comments (#3408)
  pontoon/base/models/comment.py
  pontoon/base/tests/models/test_comment.py
  pontoon/test/factories.py
Due: none

Fix zip download, add test for it
  pontoon/base/tests/views/test_download.py
  pontoon/sync/utils.py
Due: none

Drop unnecessary extras from test_download
  pontoon/base/tests/views/test_download.py
Due: none

Fix favicon links in Translate and 500 pages
  pontoon/base/templates/500.html
  translate/public/translate.html
Due: frontend

Less and smaller codecov comments
  .codecov.yml
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: pontoon/static/js/
