Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment: off

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - frontend/
    carryforward: true

  non-frontend-js:
    paths:
      - tests/**.js
      - pontoon/static/js/
    carryforward: true

Remove modal, add use case
  specs/0109-infobar-component.md
Due: none

Add selector and pages pattern fields
  specs/0109-infobar-component.md
Due: none

Update react-content-marker to 2.0.0
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Update react-content-marker to 2.0.0 (#1909)
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Updates
  specs/0109-infobar-component.md
Due: none

Reword out of scope (aspect->appeareance
  specs/0109-infobar-component.md
Due: none

Bug 1694911 - Add specs for user infobar component (#1876)
  specs/0109-infobar-component.md
Due: none

use is_comment only once. Also, make hover behavior consistent
  frontend/src/core/user/components/UserNotification.css
  frontend/src/core/user/components/UserNotification.js
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: frontend

Run prettier
  frontend/src/core/user/components/UserNotification.css
  frontend/src/core/user/components/UserNotification.js
Due: frontend

remove verb link for non-comments
  frontend/src/core/user/components/UserNotification.js
Due: frontend

Reduce number of links in comment notifications
  frontend/src/core/user/components/UserNotification.css
  frontend/src/core/user/components/UserNotification.js
  pontoon/base/static/css/style.css
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: frontend

add blank lines
  frontend/src/core/user/components/UserNotification.js
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: frontend

Fix bug 1693319: Reduce number of links in comment notifications (#1894)
  frontend/src/core/user/components/UserNotification.css
  frontend/src/core/user/components/UserNotification.js
  pontoon/base/static/css/style.css
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
Due: frontend

Upload to Base.py
  pontoon/settings/base.py
Due: none

Update dependencies
  requirements/default.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
Due: none

Update dependencies (#1913)
  requirements/default.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
Due: none

Update python to 3.8.9
  runtime.txt
Due: none

Bug 1703748: Prevent sync breakage due to a typo
  pontoon/sync/tasks.py
Due: none

Bug 1703748: Prevent sync breakage due to a typo (#1914)
  pontoon/sync/tasks.py
Due: none

Search if name 'includes' search string for mentions
  frontend/src/core/comments/components/AddComment.js
Due: frontend

Update django to 3.1.8
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Fix bug 1702396 - Search within user's name when adding mentions (#1915)
  frontend/src/core/comments/components/AddComment.js
Due: frontend

Update django to 3.1.8 (#1917)
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Fix bug 1699455: suppress warning when the dotenv file is missing
  manage.py
Due: none

Fix celery app dotenv
  pontoon/base/celeryapp.py
Due: none

dotenv: fix WSGI app behaviour
  pontoon/wsgi.py
Due: backend

Normalize the reading of the dotenv files
  manage.py
  pontoon/wsgi.py
Due: backend

Replaces django-dotenv by python-dotenv
  manage.py
  pontoon/base/celeryapp.py
  pontoon/wsgi.py
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: backend

Update the dotenv lib URL in the doc
  docs/admin/deployment.rst
Due: none

Fix bug 1699455: Replace django-dotenv with python-dotenv (#1904)
  docs/admin/deployment.rst
  manage.py
  pontoon/base/celeryapp.py
  pontoon/wsgi.py
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: backend

Prepare TypeScript, use for partial test objects
  .eslintrc.js
  .github/workflows/frontend.yml
  frontend/src/core/editor/components/FailedChecks.test.js
  frontend/src/core/utils/createLocale.js
  frontend/src/core/utils/createProject.js
  frontend/src/core/utils/index.js
Due: frontend
