Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment: off

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - frontend/
    carryforward: true

  non-frontend-js:
    paths:
      - tests/**.js
      - pontoon/static/js/
    carryforward: true

Add unit tests
  frontend/src/core/user/components/UserNotificationsMenu.test.js
Due: frontend

Collect all mark_all_notifications_as_read actions
  pontoon/contributors/views.py
Due: none

No need to make logUxAction async
  frontend/src/core/api/user.js
Due: frontend

Do not fail if user not authenticated
  frontend/src/core/user/components/UserNotificationsMenu.js
Due: frontend

Fix flake8
  pontoon/contributors/views.py
Due: none

Fix Machinery list height to prevent scrollbar overflow
  frontend/src/modules/machinery/components/Machinery.css
Due: frontend

Fix Machinery list height to prevent scrollbar overflow (#1933)
  frontend/src/modules/machinery/components/Machinery.css
Due: frontend

Collect 'See all Notifications link clicked' action using a URL parameter
  frontend/src/core/user/components/UserNotificationsMenu.js
  frontend/src/core/user/components/UserNotificationsMenu.test.js
  pontoon/base/static/js/main.js
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
  pontoon/contributors/views.py
Due: frontend

Remove query params in JS and hence log all Notifications page views
  pontoon/contributors/static/js/notifications.js
  pontoon/contributors/views.py
Due: none

Change action names
  frontend/src/core/user/components/UserNotificationsMenu.js
  pontoon/base/static/js/main.js
  pontoon/contributors/views.py
Due: frontend

Fix bug 1706936: Collect baseline notifications metrics (#1931)
  frontend/src/core/api/user.js
  frontend/src/core/user/actions.js
  frontend/src/core/user/components/UserControls.js
  frontend/src/core/user/components/UserNotification.css
  frontend/src/core/user/components/UserNotificationsMenu.css
  frontend/src/core/user/components/UserNotificationsMenu.js
  frontend/src/core/user/components/UserNotificationsMenu.test.js
  pontoon/base/static/js/main.js
  pontoon/base/templates/base.html
  pontoon/contributors/static/js/notifications.js
  pontoon/contributors/static/js/settings.js
  pontoon/contributors/templates/contributors/profile.html
  pontoon/contributors/templates/contributors/settings.html
  pontoon/contributors/templates/contributors/widgets/notifications_menu.html
  pontoon/contributors/views.py
  pontoon/localizations/templates/localizations/localization.html
  pontoon/projects/templates/projects/project.html
  pontoon/tags/templates/tags/tag.html
  pontoon/teams/static/js/info.js
  pontoon/teams/static/js/request.js
  pontoon/teams/templates/teams/includes/info.html
  pontoon/teams/templates/teams/team.html
  pontoon/teams/templates/teams/teams.html
  pontoon/urls.py
  pontoon/uxactionlog/forms.py
  pontoon/uxactionlog/urls.py
  pontoon/uxactionlog/views.py
Due: backend, frontend

Rename variable
  pontoon/base/static/js/main.js
Due: none

Add support for Add-On promotion on the Machinery page, which used the base template improperly
  pontoon/machinery/templates/machinery/machinery.html
Due: none

More future-proof code-style
  pontoon/base/static/js/main.js
Due: none

Hide Add-On Promotion if Add-On installed while active
  pontoon/base/static/js/main.js
Due: none

Hardcode Add-On Promotion Banner on the jQuery frontend
  pontoon/base/static/css/style.css
  pontoon/base/templates/addon_promotion.html
  pontoon/base/templates/base.html
  pontoon/homepage/static/css/homepage.css
Due: none

Properly display Pontoon Add-On promotion on the jQuery frontend (dismiss not implemented yet)
  pontoon/base/static/js/main.js
  pontoon/base/templates/addon_promotion.html
Due: none

Add ability to dismiss Pontoon Add-On Promotion
  pontoon/base/migrations/0015_userprofile_has_dismissed_addon_promotion.py
  pontoon/base/models.py
  pontoon/base/static/js/main.js
  pontoon/base/templates/addon_promotion.html
  pontoon/contributors/urls.py
  pontoon/contributors/views.py
Due: none

Animate promotion banner
  pontoon/base/static/css/style.css
  pontoon/homepage/static/css/homepage.css
Due: none

Locale-independent link
  pontoon/base/static/js/main.js
Due: none

Enable promotion on Translate view
  frontend/public/static/locale/en-US/translate.ftl
  frontend/src/App.js
  frontend/src/core/api/user.js
  frontend/src/core/user/actions.js
  frontend/src/core/user/reducer.js
  frontend/src/modules/addonpromotion/components/AddonPromotion.css
  frontend/src/modules/addonpromotion/components/AddonPromotion.js
  frontend/src/modules/addonpromotion/index.js
  pontoon/base/static/css/style.css
  pontoon/base/static/js/main.js
  pontoon/base/views.py
Due: frontend

Typo
  frontend/src/modules/addonpromotion/index.js
Due: frontend

Fix broken CSS in Translate View when promotion not displayed
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/modules/addonpromotion/components/AddonPromotion.css
Due: frontend

Slight less 'in your face' pink
  frontend/src/modules/addonpromotion/components/AddonPromotion.css
  pontoon/base/static/css/style.css
Due: frontend

notInstalled > installed, notDismissed > dismissed
  pontoon/base/static/js/main.js
Due: none

Fix bug 1706959: Promote Pontoon Add-On in Pontoon (#1932)
  frontend/public/static/locale/en-US/translate.ftl
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/core/api/user.js
  frontend/src/core/user/actions.js
  frontend/src/core/user/reducer.js
  frontend/src/modules/addonpromotion/components/AddonPromotion.css
  frontend/src/modules/addonpromotion/components/AddonPromotion.js
  frontend/src/modules/addonpromotion/index.js
  pontoon/base/migrations/0015_userprofile_has_dismissed_addon_promotion.py
  pontoon/base/models.py
  pontoon/base/static/css/style.css
  pontoon/base/static/js/main.js
  pontoon/base/templates/addon_promotion.html
  pontoon/base/templates/base.html
  pontoon/base/views.py
  pontoon/contributors/urls.py
  pontoon/contributors/views.py
  pontoon/homepage/static/css/homepage.css
  pontoon/machinery/templates/machinery/machinery.html
Due: frontend

Fix flexible Translate view layout
  frontend/src/App.css
Due: frontend

Fix flexible Translate view layout (#1934)
  frontend/src/App.css
Due: frontend

Bug 1704038: Make use of new admin.display decorator (#1929)
  pontoon/base/admin.py
  pontoon/checks/admin.py
  pontoon/sync/admin.py
Due: none

Keep tests in plain javascript during TypeScript conversion
  .github/workflows/frontend.yml
Due: none

Pick up @fluent libraries with needed type fixes
  frontend/package.json
  frontend/yarn.lock
Due: frontend

Type @fluent/bundle
  frontend/flow-typed/fluentDef.js
Due: frontend

Type @fluent/syntax
  .eslintrc.js
  frontend/flow-typed/fluentDef.js
  frontend/src/core/editor/selectors.js
  frontend/src/core/utils/fluent/areSupportedElements.js
  frontend/src/core/utils/fluent/extractAccessKeyCandidates.js
  frontend/src/core/utils/fluent/flattenMessage.js
  frontend/src/core/utils/fluent/flattenPatternElements.js
  frontend/src/core/utils/fluent/getEmptyMessage.js
  frontend/src/core/utils/fluent/getReconstructedMessage.js
  frontend/src/core/utils/fluent/getSimplePreview.js
  frontend/src/core/utils/fluent/isPluralExpression.js
  frontend/src/core/utils/fluent/isSimpleElement.js
  frontend/src/core/utils/fluent/isSimpleMessage.js
  frontend/src/core/utils/fluent/isSimpleSingleAttributeMessage.js
  frontend/src/core/utils/fluent/isSupportedMessage.js
  frontend/src/core/utils/fluent/parser.js
  frontend/src/core/utils/fluent/serialize.js
  frontend/src/core/utils/fluent/types.js
  frontend/src/modules/entitydetails/components/FluentAttribute.js
  frontend/src/modules/fluenteditor/components/rich/RichTranslationForm.js
  frontend/src/modules/fluentoriginal/components/RichString.js
Due: frontend

Move @fluent/react typedef into fluentDef
  frontend/flow-typed/fluentDef.js
  frontend/flow-typed/myLibDef.js
Due: frontend

Type @fluent/langneg
  frontend/flow-typed/fluentDef.js
Due: frontend
