Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

removed unUsed mockMatchMedia function
  translate/src/test/utils.jsx
Due: frontend

remove useless settings
  pontoon/settings/base.py
Due: none

Replace Jest with Vitest (#3884)
  .github/workflows/frontend.yml
  CONTRIBUTING.rst
  Makefile
  eslint.config.mjs
  package-lock.json
  package.json
  translate/README.md
  translate/eslint.config.mjs
  translate/jest-jsdom-fix.mjs
  translate/jest.config.js
  translate/package.json
  translate/src/modules/entitieslist/components/EntitiesList.test.js
  translate/src/modules/machinery/components/MachineryTranslation.test.js
  translate/src/modules/otherlocales/components/OtherLocaleTranslation.test.jsx
  translate/src/modules/user/components/UserMenu.test.jsx
  translate/src/setupTests.ts
  translate/src/test/utils.jsx
  translate/test-ownership.js
  translate/tsconfig.json
  translate/vitest.config.ts
Due: frontend

disabled EntitiesList Test to be fixed after react upgrade
  translate/src/modules/entitieslist/components/EntitiesList.test.js
Due: frontend

removed sinon and @types/sinon
  package-lock.json
  package.json
Due: none

removed sinon from the readme
  translate/README.md
Due: frontend

Skipped Broken Test in Entities List
  translate/src/modules/entitieslist/components/EntitiesList.test.js
Due: frontend

removed sinon from EntitiesList test
  translate/src/modules/entitieslist/components/EntitiesList.test.js
Due: frontend

migrated all the sinon mocks to vitest
  translate/src/hooks/usePluralExamples.test.js
  translate/src/modules/batchactions/components/ApproveAll.test.jsx
  translate/src/modules/batchactions/components/RejectAll.test.jsx
  translate/src/modules/batchactions/components/ReplaceAll.test.jsx
  translate/src/modules/comments/components/AddComment.test.jsx
  translate/src/modules/comments/components/Comment.test.jsx
  translate/src/modules/editor/components/EditorMainAction.test.jsx
  translate/src/modules/editor/components/EditorSettings.test.jsx
  translate/src/modules/editor/components/FailedChecks.test.jsx
  translate/src/modules/entitieslist/components/Entity.test.jsx
  translate/src/modules/l10n/components/AppLocalizationProvider.test.jsx
  translate/src/modules/originalstring/components/OriginalString.test.jsx
  translate/src/modules/originalstring/components/RichString.test.jsx
  translate/src/modules/search/components/FiltersPanel.test.jsx
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchPanel.test.jsx
  translate/src/modules/terms/components/Term.test.jsx
  translate/src/modules/translationform/components/EditField.test.tsx
  translate/src/modules/user/components/UserAutoUpdater.test.jsx
  translate/src/modules/user/components/UserNotificationsMenu.test.jsx
  translate/src/utils/hooks/useOnDiscard.test.jsx
Due: frontend

minor changes in vitest expect assertions
  translate/src/modules/batchactions/components/RejectAll.test.jsx
  translate/src/modules/editor/components/EditorMainAction.test.jsx
  translate/src/modules/editor/components/EditorSettings.test.jsx
  translate/src/modules/entitieslist/components/EntitiesList.test.js
  translate/src/modules/translationform/components/EditField.test.tsx
Due: frontend

Migrate remaining Sinon mocks to Vitest (#3885)
  package-lock.json
  package.json
  translate/README.md
  translate/src/hooks/usePluralExamples.test.js
  translate/src/modules/batchactions/components/ApproveAll.test.jsx
  translate/src/modules/batchactions/components/RejectAll.test.jsx
  translate/src/modules/batchactions/components/ReplaceAll.test.jsx
  translate/src/modules/comments/components/AddComment.test.jsx
  translate/src/modules/comments/components/Comment.test.jsx
  translate/src/modules/editor/components/EditorMainAction.test.jsx
  translate/src/modules/editor/components/EditorSettings.test.jsx
  translate/src/modules/editor/components/FailedChecks.test.jsx
  translate/src/modules/entitieslist/components/EntitiesList.test.js
  translate/src/modules/entitieslist/components/Entity.test.jsx
  translate/src/modules/l10n/components/AppLocalizationProvider.test.jsx
  translate/src/modules/originalstring/components/OriginalString.test.jsx
  translate/src/modules/originalstring/components/RichString.test.jsx
  translate/src/modules/search/components/FiltersPanel.test.jsx
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchPanel.test.jsx
  translate/src/modules/terms/components/Term.test.jsx
  translate/src/modules/translationform/components/EditField.test.tsx
  translate/src/modules/user/components/UserAutoUpdater.test.jsx
  translate/src/modules/user/components/UserNotificationsMenu.test.jsx
  translate/src/utils/hooks/useOnDiscard.test.jsx
Due: frontend

Use stdout for logging
  pontoon/settings/base.py
Due: none

Test alternative LOGGING setting
  pontoon/settings/base.py
Due: none

Try adding logging for celery
  pontoon/settings/base.py
Due: none

remove list type
  pontoon/allauth_urls.py
Due: backend

Send logs to stdout instead of stderr
  pontoon/settings/base.py
Due: none

add visibility check for projects in entity endpoints
  pontoon/api/views.py
Due: none

In API, only return entities of the projects visible to the user in the app (#3893)
  pontoon/api/views.py
Due: none

Send logs to stdout instead of stderr (#3891)
  pontoon/settings/base.py
Due: none

Prevent Celery log message duplication
  pontoon/base/celeryapp.py
Due: none

ruff
  pontoon/base/celeryapp.py
Due: none

Drop leading '/' from django-allauth URL patterns
  pontoon/allauth_urls.py
Due: backend

Prevent Celery log message duplication (#3897)
  pontoon/base/celeryapp.py
Due: none

Drop leading '/' from django-allauth URL patterns (#3899)
  pontoon/allauth_urls.py
Due: backend

Add management command to be used for AutoML warmup
  pontoon/machinery/management/commands/warmup_automl.py
Due: none

Update help text
  pontoon/machinery/management/commands/warmup_automl.py
Due: none

Add management command to be used for AutoML warmup (#3903)
  pontoon/machinery/management/commands/warmup_automl.py
Due: none

Improve log output of warmup_automl management command
  pontoon/machinery/management/commands/warmup_automl.py
Due: none

Fix search and replace for Fluent strings
  pontoon/batch/tests/test_utils.py
  pontoon/batch/utils.py
Due: none

Fix search and replace for Fluent strings (#3907)
  pontoon/batch/tests/test_utils.py
  pontoon/batch/utils.py
Due: none

Improve log output of warmup_automl management command (#3906)
  pontoon/machinery/management/commands/warmup_automl.py
Due: none

added @testing-library/jest-dom package
  package-lock.json
  package.json
  translate/src/setupTests.ts
Due: frontend

fixed the broken test after shifting mocked store to rtl
  translate/src/context/Editor.test.jsx
  translate/src/modules/comments/components/AddComment.test.jsx
  translate/src/modules/comments/components/CommentsList.test.js
  translate/src/modules/editor/components/FailedChecks.test.jsx
  translate/src/modules/entitieslist/components/EntitiesList.test.js
  translate/src/modules/entitieslist/components/Entity.tsx
  translate/src/modules/entitydetails/components/EntityDetails.test.jsx
  translate/src/modules/entitydetails/components/EntityNavigation.test.jsx
  translate/src/modules/entitydetails/components/Helpers.tsx
  translate/src/modules/history/components/History.test.jsx
  translate/src/modules/history/components/History.tsx
  translate/src/modules/interactivetour/components/InteractiveTour.test.jsx
  translate/src/modules/loaders/components/SkeletonLoader.tsx
  translate/src/modules/machinery/components/MachineryTranslation.test.js
  translate/src/modules/navbar/components/Navigation.test.jsx
  translate/src/modules/originalstring/components/OriginalString.test.jsx
  translate/src/modules/otherlocales/components/OtherLocaleTranslation.test.jsx
  translate/src/modules/projectinfo/components/ProjectInfo.test.js
  translate/src/modules/projectinfo/components/ProjectInfo.tsx
  translate/src/modules/resourceprogress/components/ResourceProgress.test.js
  translate/src/modules/resourceprogress/components/ResourceProgress.tsx
  translate/src/modules/search/components/FiltersPanel.test.jsx
  translate/src/modules/search/components/FiltersPanel.tsx
  translate/src/modules/search/components/SearchBox.test.jsx
  translate/src/modules/search/components/SearchPanel.test.jsx
  translate/src/modules/search/components/SearchPanel.tsx
  translate/src/modules/teamcomments/components/TeamComments.test.js
  translate/src/modules/translationform/components/TranslationForm-multiple.test.jsx
  translate/src/modules/translationform/components/TranslationForm-single.test.jsx
  translate/src/modules/user/components/SignIn.tsx
  translate/src/modules/user/components/UserControls.test.js
  translate/src/test/store.jsx
Due: frontend

added validation
  pontoon/search/static/css/search.css
  pontoon/search/static/js/search.js
  pontoon/search/templates/search/search.html
  pontoon/search/views.py
Due: none

/search for entity translation search, small validation fix
  pontoon/machinery/urls.py
  pontoon/search/urls.py
  pontoon/search/views.py
Due: none

change entity data structure in serializer, clean up html for css styling
  pontoon/api/serializers.py
  pontoon/api/tests/test_views.py
  pontoon/search/static/js/search.js
  pontoon/search/templates/search/search.html
  pontoon/search/templates/search/widgets/entity_list.html
  pontoon/search/views.py
Due: none

Update views.py
  pontoon/search/views.py
Due: none

clean up entity - translation_list.html
  pontoon/search/templates/search/widgets/translation_list.html
Due: none

slight change to validation
  pontoon/search/static/js/search.js
Due: none

move project selector to projects app
  pontoon/projects/templates/projects/widgets/project_selector.html
  pontoon/search/templates/search/search.html
Due: none

Path conditions:
  backend: any of: pontoon/**.py
  frontend: any of: translate/
  non-frontend-js: any of: pontoon/static/js/
