Repository mozilla/pontoon: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, non-frontend-js

.codecov.yml:

comment: off

flags:
  backend:
    paths:
      - pontoon/**.py
    carryforward: true

  frontend:
    paths:
      - translate/
    carryforward: true

  non-frontend-js:
    paths:
      - pontoon/static/js/
    carryforward: true

Add historic Translation data to ActionLog (#3299)
  pontoon/actionlog/migrations/0004_alter_actionlog_created_at.py
  pontoon/actionlog/migrations/0005_migrate_old_translations_to_actionlog.py
  pontoon/actionlog/models.py
Due: none

Update Django to latest dot release
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
Due: none

Update Django to latest dot release (#3374)
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
Due: none

Update sacremoses, openai and gunicorn to latest versions
  requirements/default.in
  requirements/default.txt
  requirements/test.txt
Due: none

Upgrade existing dependencies within the given constraints of the input files
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Update libs (#3375)
  requirements/default.in
  requirements/default.txt
  requirements/dev.txt
  requirements/test.txt
Due: none

Replace unmaintained wsgi-sslify with Django settings
  docker-compose.yml
  pontoon/settings/base.py
  pontoon/wsgi.py
  requirements/default.in
  requirements/default.txt
Due: backend

ruff
  pontoon/wsgi.py
Due: backend

Eh..
  docker-compose.yml
Due: none

Add comment to the number of seconds representing a year
  pontoon/settings/base.py
Due: none

Replace unmaintained wsgi-sslify with Django settings (#3376)
  pontoon/settings/base.py
  pontoon/wsgi.py
  requirements/default.in
  requirements/default.txt
Due: backend

Update reactour to latest version
  package-lock.json
  translate/package.json
Due: frontend

Update reactour to latest version (#3377)
  package-lock.json
  translate/package.json
Due: frontend

Seperated backend tests into different functions
  pontoon/base/models/entity.py
  pontoon/base/tests/managers/test_entity.py
Due: none

Removed print statements
  pontoon/base/models/entity.py
Due: none

Update more Python dependencies
  requirements/default.in
  requirements/default.txt
Due: none

Update Python coverage config file, fix warning
  .coveragerc
Due: none

Update Python coverage config file, fix warning (#3379)
  .coveragerc
Due: none

Update more Python dependencies (#3378)
  requirements/default.in
  requirements/default.txt
Due: none

Merge multiple item selector code from #3353 and use it to replace custom code
  pontoon/administration/static/css/admin_project.css
  pontoon/administration/static/js/admin_project.js
  pontoon/administration/templates/tag_inline_formset.html
  pontoon/base/static/js/multiple_item_selector.js
  pontoon/base/templates/widgets/multiple_item_selector.html
Due: none

Start displaying coverage changes in pull requests
  .codecov.yml
Due: none

Formatted backend tests to use args and kwargs
  pontoon/base/models/entity.py
  pontoon/base/tests/managers/test_entity.py
  translate/src/modules/search/components/SearchPanel.test.js
Due: frontend

Same as previous commit, but CSS
  pontoon/administration/static/css/admin_project.css
  pontoon/base/static/css/multiple_item_selector.css
Due: none

Start displaying coverage changes in pull requests (#3380)
  .codecov.yml
Due: none

Created inital test cases for SearchPanel (#3361)
  pontoon/base/tests/managers/test_entity.py
  translate/src/modules/search/components/SearchPanel.test.js
Due: frontend

Run prettier on the new .codecov.yml file
  .codecov.yml
Due: none

Run prettier on the new .codecov.yml file (#3381)
  .codecov.yml
Due: none

Simplify getter from kwargs
  pontoon/administration/forms.py
Due: none

Remove .pyup.yml
  .pyup.yml
Due: none

Update requirements, add .in file and move in docs/requirements
  .readthedocs.yaml
  CONTRIBUTING.rst
  docs/requirements/default.in
  docs/requirements/default.txt
Due: none

Update configuration
  docs/conf.py
Due: none

Recompile, update alabaster
  docs/requirements/default.in
  docs/requirements/default.txt
Due: none

Update dependencies for docs building, remove .pyup config (#3382)
  .pyup.yml
  .readthedocs.yaml
  CONTRIBUTING.rst
  docs/conf.py
  docs/requirements/default.in
  docs/requirements/default.txt
Due: none

CI: add checks for Python and npm package licenses
  .github/workflows/licenses.yml
Due: none

Use pip-licenses
  .github/workflows/licenses.yml
Due: none

Move checks into existing workflows
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/licenses.yml
Due: none

Update prettier to 3.3.3
  .prettierignore
  package-lock.json
  package.json
Due: none

Run prettier
  error_pages/application-error.html
  error_pages/maintenance-mode.html
  pontoon/machinery/static/js/machinery.js
  translate/src/App.css
  translate/src/modules/addonpromotion/components/AddonPromotion.tsx
  translate/src/modules/comments/components/AddComment.tsx
  translate/src/modules/history/components/HistoryTranslation.tsx
  translate/src/modules/search/components/SearchBox.tsx
  translate/src/modules/translationform/components/EditField.test.tsx
Due: frontend

Dev Setup: Remove Docket instructions for Windows Home
  docs/dev/setup.rst
Due: none
